- content_for :title  do
  Edita esta categoría

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title
            ¿Cuál será la nueva categoría?
        .panel-body
          = render 'form'