- content_for :title  do
  = title_text_helper("Nueva categoría")

.container-fluid.container-fixed-lg
  .row.panel.panel-default
    .p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Crear categoría nueva
        .panel-body
          %i.fa.fa-plus.fa-2x.hint-text
          .h3.m-t-20.segoe-font
            Usa este formulario para crear una nueva categoría
          %p.m-b-30.segoe-font
            Tambien puedes agregar una descripción para este elemento
      .col-md-8
        .panel-body
          = render 'form'

