
var id_dom = "#contenedor_" + "<%=@question.chapter_content.chapter.get_cc_chapter.id %>" ;

$(id_dom).append("<div class='panel panel-default' id='chapter_content_<%=@question.chapter_content.id%>'><div class='panel-body'><%= escape_javascript(render(:partial => 'questions/question_content', :locals => {chapter: @chapter, question: @question})) %></div></div>");
$("#form-question")[0].reset();

$("#addQuestion").modal('hide');
$(id_dom).collapse('show');
$("html, body").animate({scrollTop: $("#chapter_content_<%=@question.chapter_content.id%>").offset().top}, 1000);