- content_for :title  do
  = title_text_helper("Contenido de la evaluación")

.container
  .row
    .col-md-12
      %h2.text-center
        Contenido de la evaluación
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = @quiz.name
        .panel-body
          .sortable
          - @quiz.quiz_questions.each do |question|
            .well 
              = render partial: 'quiz_questions/question', locals: {question: question, quiz: @quiz}
          .text-center
            = link_to 'Agregar pregunta', new_quiz_quiz_question_path(quiz_id: @quiz), class: 'btn btn-primary'
