- content_for :title  do
	= title_text_helper("Editar imagen de mi ruta")

.container
	.row
		.col-md-12
			%h2.text-center
				Editar imagen de Mi ruta
			.col-md-10.col-md-offset-1
				= render "form"
