- content_for :title  do
	= title_text_helper("Subir imagen para mi ruta")

.container
	.row
		.col-md-12
			%h2.text-center
				Subir imagen para Mi ruta
			.col-md-10.col-md-offset-1
				= render "form"
