- content_for :title  do
	= title_text_helper("Crear término")

.container-fluid.container-fixed-lg	
	.panel.panel-default
		.panel-body
			.row
				.col-md-4
					.panel-heading
						.panel-title
							Términos de glosario
					.panel-body
						.row
							%i.fa.fa-book.fa-2x.hint-text.m-t-10
							.h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
								Usa este campo para crear términos de glosario
							%p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
								Recuerda elegir siempre una categoría para tu término
				.col-md-8
					.panel-body
						.row
							.pull-right
								= link_to new_glossary_category_path do
									%button.btn.btn-lg.btn-rounded.btn-primary
										%i.fa.fa-plus
										Crear nueva categoría
							.clearfix
							= render "form"