.well
	= form_tag(chapter_quiz_programs_path, method: :post) do 
		.form-group
			%label.control-label{for: :quiz_id} Examen:
			= select_tag "quiz_id", options_from_collection_for_select(Quiz.ruta, "id", "name"), class: 'form-control', required: "required", prompt: "Selecciona el examen"
		.form-group
			= link_to 'Cancelar', program_path(@chapter.program), class: 'btn btn-danger'	
			= submit_tag "Guardar", class: 'btn btn-default'