= bootstrap_form_for(@category) do |f|
	= f.text_field :title, label: 'Nombre de la categoría:'
	.pull-right
		=link_to glossary_categories_path do
			%button.btn.btn-info.m-l-10
				%i.fa.fa-times
				Cancelar
		= f.submit 'Guardar categoría', class: 'btn btn-success m-l-10'
	