- content_for :title  do
  = title_text_helper("Editar categoría")

.container-fluid.container-fixed-lg
  .row.panel.panel-default
    .p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Editar categoría de glosario
        .panel-body
          %i.fa.fa-edit.fa-2x.hint-text
          .h3.m-t-20.segoe-font
            Usa este formulario para editar una categoría de glosario
          %p.m-b-30.segoe-font
            Una vez que agregues categorías estarán disponibles asignarles términos
      .col-md-8
        .panel-body
          = render 'form'
