- content_for :title  do
	= title_text_helper("Crear categoría")

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-body
			.row
				.col-md-5
					.panel-heading
						.panel-title
							Categorías de glosario
					.panel-body
						.row
							%i.fa.fa-upload.fa-2x.hint-text.m-t-10
							.h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
								Usa este campo modificar o crear categorías del glosario
							%p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
								Una vez que agregues o modifiques categorías estarán disponibles para los usuarios
				.col-md-7
					.panel-body
						.row
							= render 'form'