- content_for :title  do
  Notificaciones - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-15.panel-title-ayuda
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Notificaciones
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              =current_user.mentor? ? '' : '¿Qué hay de nuevo?'
            %p.m-b-25.text-white
              =current_user.mentor? ? 'Entérate de los últimos comentarios hechos por tus estudiantes dentro del contenido de los cursos.' : 'Noticias, actualizaciones, cambios y mejoras. ¡Entérate de todo lo que sucede dentro de EDC Digital en tu bandeja de notificaciones!'
              

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-heading.text-right.p-t-0
          .panel-title
            = form_tag(mark_as_read_dashboard_notifications_path)do
              %button.btn.btn-primary.m-b-10.btn-xs{:type => "submit"}
                %i.pg-refresh_new
                Marcar todas las notificaciones como leídas
        .panel-body
          .notification-panel.notification-panel-2
            .notification-body.notification-body-3
              = render partial: 'notifications/notification', collection: @notifications
          %center
            = paginate @notifications    
