- content_for :title  do
  Editar entregable - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      %h2
        Editar entregable
      = bootstrap_form_for([:mentor, @user, @delireverable_user], url: mentor_student_delireverable_user_path(@user, @delireverable_user), method: :put) do |f|
        = f.select(:status, [['Enviado', 'sent'], ['Revisado', 'reviewed']])
        = f.text_field :comments, label: 'Comentarios'
        = f.submit 'Guardar'
