- content_for :title  do
  Editar Paquete de entregables - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      %h2.text-center
        Editar paquete
      = render 'form'
