- content_for :title  do
  = title_text_helper("Editar paquete")

.container-fluid.container-fixed-lg
  .row.panel.panel-default
    .p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Editar entregable
        .panel-body
          %i.fa.fa-edit.fa-2x.hint-text
          .h3.m-t-20.segoe-font
            Usa este formulario para editar el entregable
          %p.m-b-30.segoe-font
            También puedes editar la descripción del documento
      .col-md-8
        .panel-body
          = render 'form'


