a.pump-link {
	color: #626262;
}
a.pump-link:hover {
	//text-decoration: underline;
	color: #48b0f7;
}
.p-r-17 {
	padding-right: 17.5px;
}
.p-l-17 {
	padding-left: 17.5px;
}
.p-r-8 {
	padding-right: 7.5px;
}
.p-l-8 {
	padding-left: 7.5px;
}
.subtitle-module-text {
  opacity: .7;
    font-size: 12px;
    position: relative;
    bottom: 8px;
}
.answer-lead {
	color: #409ede;
	font-size: 18px;
    line-height: 28px;
    font-weight: lighter;
}
.answer-lead-red {
	color: red;
	font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
}
.l-h-5 {
	line-height: 5px !important;
}
.p-sides-14{
	padding-left: 14.6px;
	padding-right: 14.5px;
}
.p-sides-14-2{
	padding-left: 14.57px;
	padding-right: 14.57px;
}
.text-overflow p{
	display: none;
}
.text-overflow p:first-child{
	display:inline-block;
    width: 350px;
    height: 21px !important;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}
.no-opacity a{
	opacity: 1 !important;
}
.btn-like{
	display: inline-block;
	min-width: 120px;
	font-size: 14px;
	color: #111;
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	line-height: 21px;
	padding-left: 17px;
	padding-right: 17px;
	position: relative;
	padding: 6px 12px;
	border-radius: 4px;
}

.programs-filter-btn{
}
.panel-title-emprendimiento{
	background-image: linear-gradient(15deg, #69225C 0%, #B32769 100%) !important;
}
.panel-title-emprendimiento-dark{
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898 !important;
	background-blend-mode: multiply !important;
	background-image: linear-gradient(15deg, #69225C 0%, #B32769 100%) !important;
}
.panel-title-ayuda{
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%) !important;
}
.panel-title-perfil{
	background-image: linear-gradient(15deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) !important;
}
.panel-title-recursos{
	background-image: linear-gradient(15deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%) !important;
}
@media (min-width: 768px) {
	.resp-p-l-50{
		padding-left: 50px !important;
	}
	.resp-p-l-25{
		padding-left: 25px !important;
	}
}
