a.pump-link {
	color: #626262;
}
a.pump-link:hover {
	color: #48b0f7;
}
a.pump-link-title {
	color: #2c2c2c;
}
a.pump-link-title:hover {
	color: #48b0f7;
}
a.redish-link {
	color: #CD4945;
}
a.redish-link:hover {
	color: #F77975;
}
a.evaluation-nav-link {
	color: #fff;
}
a.evaluation-nav-link:hover {
	color: #6DC0F9;
}
a.swal-close {
	color: #626262;
}
a.swal-close:hover {
	color: #CD4945;
}
.p-r-12 {
	padding-right: 12px;
}
.p-l-12 {
	padding-left: 12px;
}
.p-r-17 {
	padding-right: 17.5px;
}
.p-l-17 {
	padding-left: 17.5px;
}
.p-r-8 {
	padding-right: 7.5px;
}
.p-l-8 {
	padding-left: 7.5px;
}
.m-t-18 {
  margin-top: 18px;
}
.p-r-l-20 {
	padding-right: 20.5px;
	padding-left: 20.5px;
}
.p-r-l-17 {
	padding-right: 17.5px;
	padding-left: 17.5px;
}
.subtitle-module-text {
  opacity: .7;
    font-size: 12px;
    position: relative;
    bottom: 8px;
}
.answer-lead {
	color: #409ede;
	font-size: 18px;
    line-height: 28px;
    font-weight: lighter;
}
.answer-lead-red {
	color: red;
	font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
}
.l-h-5 {
	line-height: 5px !important;
}
.p-sides-14{
	padding-left: 14.6px;
	padding-right: 14.5px;
}
.p-sides-14-2{
	padding-left: 14.57px;
	padding-right: 14.57px;
}
.flag-text-size{
	font-size: 1.1em;
}
.name-text-size{
	font-size: 1.6em;
}
.text-overflow p{
	display: none;
}
.text-overflow p:first-child{
	display:inline-block;
    width: 350px;
    height: 21px !important;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}
.no-opacity a{
	opacity: 1 !important;
}
.btn-like{
	display: inline-block;
	min-width: 120px;
	font-size: 14px;
	color: #111;
	background-color: #E6E6E6;
	border-color: #E6E6E6;
	line-height: 21px;
	padding-left: 17px;
	padding-right: 17px;
	position: relative;
	padding: 6px 12px;
	border-radius: 4px;
}
.btn-like-switch{
	display: inline-block;
	min-width: 120px;
	font-size: 14px;
	color: #111;
	background-color: transparent;
	border-color: #E6E6E6;
	line-height: 21px;
	padding-top: 1px;
	padding-right: 10px;
	padding-left: 0;
	position: relative;
	border-radius: 4px;
	max-height: 36px;
}
.btn-like-switch-small{
	display: inline-block;
	font-size: 12.5px !important;
	color: #3a8fc8 !important;
	line-height: 21px !important;
	padding-right: 10px;
}
.label-for-switch{
	display: inline-block;
	position: relative;
	top: -12px;
	height: 36px;
	font-family: "Montserrat", Arial, sans-serif;
}
.label-for-switch-small{
	top: -8px !important;
	height: 22px !important;
}
a.seen-link {
	color: #0DAD9E;
}
a.seen-link:hover {
	//text-decoration: underline;
	color: #40D9CA;
}
a.unseen-link {
	color: #957D32;
}
a.unseen-link:hover {
	//text-decoration: underline;
	color: #F8D053;
}
.programs-filter-btn{
}

@media (min-width: 990px) {
  .p-l-0-card {
    /*background-color: red !important;*/
    padding-left: 0px !important;
  }
  .p-r-0-image {
  	padding-right: 0px !important;
  }
}

.heading-right-answer{
	background-color: #33ada1 !important;
}
.heading-wrong-answer{
	background-color: rgba(197,96,93, 0.8) !important;
}
.container-minus-30{
	position: relative;
	top: -30px;
}
.container-minus-40{
	position: relative;
	top: -40px;
}
.panel-title-emprendimiento{
	background-image: linear-gradient(15deg, #69225C 0%, #B32769 100%) !important;
}
.panel-title-emprendimiento-dark{
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898 !important;
	background-blend-mode: multiply !important;
	background-image: linear-gradient(15deg, #69225C 0%, #B32769 100%) !important;
}
.panel-title-ayuda{
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%) !important;
}
.panel-title-perfil{
	background-image: linear-gradient(15deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) !important;
}
.panel-title-recursos{
	background-image: linear-gradient(15deg, #3D4E81 0%, #412896 48%, #6552EF 100%) !important;
}
.panel-title-acerca{
	background-image: linear-gradient(15deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%) !important;
}
@media (min-width: 768px) {
	.resp-p-l-50{
		padding-left: 50px !important;
	}
	.resp-p-l-25{
		padding-left: 25px !important;
	}
      }
@media (min-width: 990px) {
  .p-l-0-card {
    /*background-color: red !important;*/
    padding-left: 0px !important;
  }
  .p-r-0-image {
  	padding-right: 0px !important;
  }
}
.squized-li{
	padding-right: 1px !important;
	padding-left: 0px !important;
}
.program-labels{
	display: inline-block;
	width: 58px;
	height: 21px;
	padding-top: 5px;
}
.evaluation-nav-menu{
	display: inline-block;
	border-right: 1px solid white;
	border-left: 1px solid white;
}
.evaluation-ul-menu{
	font-size: 0;
	padding: 7px 0px 7px 0px;
}
.evaluation-ul-menu li{
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
}
.evaluation-nav-active{
	color: #48B0F7 !important;
	font-size: 14px !important;
}
#learning-video-message{
	width: 300px;
	height: 65px;
	display:block;
	border-radius: 5px;
	padding: 8px 8px 8px 8px;
	position: relative;
	left: 50%;
	bottom: 40px;
	background-color: #c2e5fc;
	color: #2b6a94;
}
@media only screen and (max-width: 900px) {
	#learning-video-message{
		left: 3%;
	}
}
.close-message-type:hover{
	color: #626262;
}
.triangle-left { 
	position: relative;
	top: -30px;
	left: -38px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent; 
	border-right: 20px solid #c2e5fc; 
	border-bottom: 10px solid transparent; 
}
.bottom-line{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.select2 {
	width: 100% !important;
}
.card.share.sitemap .card-header {
  padding: 15px 15px 12px;
  border-bottom: 0.5px solid #e6e6e6;
}
.card.share.sitemap .card-header h5 {
  margin-top: 0px;
}
.red-spot:before {
  content: ' \25CF';
  font-size: 10px;
  color: transparent;
}
.delete-rubrics{
	position: relative;
	top: 7px;
}
.modules-heading-card{
	padding: 10px 20px 0px 20px;
}
.modules-heading-body{
	padding: 0px 20px 10px 20px;
}
.modules-heading-actions{
	padding: 10px 10px 10px 10px;
}
.modules-menu-list li {
	display: inline;
	padding-right: 10px;
}
.bottom-line{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.refilable-input{
	display: inline-block;
	width: 200px;
	position: relative;
	min-height: 27px;
	height: 27px;
	line-height: 8px;
	top: -2px;
	margin: 5px 5px 5px 5px;
	overflow:auto;
	white-space: nowrap;
}
.refilable-show{
	display: inline-block;
	width: 150px;	
}
.present-answer{
	color: #10CFBD;
	font-weight: bold;
}
.no-answer{
	color: #F55753;
	font-weight: bold;
}
.summary-background-img{
	background-image: url('images/darkwood.jpg');
}
.widget-1-straight{
	background-image: url("/assets/darkwood.jpg");
	background-size: cover;
	content: " ";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 0;
	opacity: .8;
	padding: 20px 20px 20px 20px;
}
.select2 {
	width: 100% !important;
}
div#refilable-content-template > p{
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: justify-all !important;
}
.tipografia-textos-rellenables{
  font-size: 15px !important;
  line-height: 35px !important;
}
.bolt-margin{
	margin-left: 3px;
	margin-right: 3px;
}
.heding-text-like {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Montserrat';
	font-size: 12px;
}
.filter-padding{
	padding: 1px 10px 1px 10px;
}
.after-lift > a::after{
	top: 15% !important;
}
.horizontal-overflow{
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}
.w-300{
	width: 300px;
}
.w-400{
	width: 400px;
}
.w-500{
	width: 500px;
}
.w-600{
	width: 600px;
}
table.colored-columns td.dark{
	background-color: #f0f0f0; 
	/*background-color: #f0eef7;*/
}
table.colored-columns td.light{
	background-color: #ecf7fe;
}
.fixedcell{
  position: absolute;
  width: 300px;
  z-index: 100;
}
.loosecells{
	position: relative;
	left: 210px;
}
.cell-like{
	/*height: 48.9666px;*/
	height: 38px;
	width: 100%;
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
	padding: 9px 10px;
}
.horizontal-overflow table tbody td {
	border-bottom: none;
}
.border-none{
	border: none !important;
}
#staticHeads {
  overflow: auto;
  height: 430px;
}
.static-heads{
	background-color: #fff;
}
.index-block{
	color: #b8b8b8;
	display: inline-block;
	width: 22px;
}
.testing-css {
	text-decoration: underline;
}
.embed-col-10 iframe{
	height: 83%;
}
@media screen and (min-width: 755px) {
    .videoBtn-padding {
        padding-top: 22px;
    }
}
