a.pump-link {
	color: #626262;
}
a.pump-link:hover {
	//text-decoration: underline;
	color: #48b0f7;
}
.p-r-17 {
	padding-right: 17.5px;
}
.p-l-17 {
	padding-left: 17.5px;
}
.p-r-8 {
	padding-right: 7.5px;
}
.p-l-8 {
	padding-left: 7.5px;
}
.subtitle-module-text {
  opacity: .7;
    font-size: 12px;
    position: relative;
    bottom: 8px;
}
.answer-lead {
	color: #409ede;
	font-size: 18px;
    line-height: 28px;
    font-weight: lighter;
}
.answer-lead-red {
	color: red;
	font-size: 16px;
    line-height: 28px;
    font-weight: lighter;
}
.l-h-5 {
	line-height: 5px !important;
}
.p-sides-14{
	padding-left: 14.5px;
	padding-right: 14.5px;
}
