<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>
    	Página inexistente
    </title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
<body class="fixed-header error-page"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
		<div class="container-xs-height full-height">
			<div class="row-xs-height">
				<div class="col-xs-height col-middle">
					<div class="error-container text-center">
						<h1 class="error-number">Error 404</h1>
						<h2 class="semi-bold">Ups</h2>
						<p>No te preocupes... Lo peor de cometer errores, sería no aprender de ellos.
						</p>
            <a href="/"><h4>Volver a la página de inicio <i class="fa fa-home" aria-hidden="true"></i></h4></a>
					</div>
				</div>
			</div>
		</div>
		<div class="pull-bottom sm-pull-bottom full-width">
			<div class="error-container">
				<div class="error-container-innner">
					<div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
						<div class="col-sm-12 text-center m-b-10">
              <%= image_tag("https://fakeimg.pl/580x150/c2cde4/?text=Logo(580x150)", height: 50, class: 'm-t-5 m-b-20')%>
						</div>
						<div class="col-sm-12 text-center">
              <p><small>¿Ya tienes una cuenta? Puedes solicitarla <a href="http://demp.mx/2db57NE" target="new">aquí</a>. Si ya tienes tu cuenta, puedes iniciar sesión desde <a href="/">acá</a>.
							</small></p><small>
						</small></div><small>
					</small></div><small>
				</small></div><small>
			</small></div><small>
		</small></div><small>
</body>
</html>
