- content_for :title  do
	Editar texto de mi ruta - EDC Digital

.container
	.row.m-b-40
		.col-md-12
			%h2.text-center
				Editar texto para mi ruta
			.col-md-10.col-md-offset-1
				= render "form"