- content_for :title  do
	Redactar texto de mi ruta - EDCdigital

.container
	.row.m-b-40
		.col-md-12
			%h2.text-center
				Redactar texto para mi ruta
			.col-md-10.col-md-offset-1
				= render "form"