- content_for :title  do
  = title_text_helper("Redactar texto de mi ruta")

.container-fluid.container-fixed-lg
  .row.panel.panel-default
    .p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Agregar texto para la ruta
        .panel-body
          %i.fa.fa-plus.fa-2x.hint-text
          .h3.m-t-20.segoe-font
            Usa este formulario para crear el texto de la ruta
          %p.m-b-30.segoe-font
            Se trata de una descripción del flujo de trabajo que tendrá el usuario dentro de la plataforma
      .col-md-8
        .panel-body
          = render 'form'
