- content_for :title  do
  Subir Archivo - EDCdigital

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title
            Subir Archivo
        .panel-body
          = render 'form'
