- content_for :title  do
	Subir Archivo - EDCdigital

.container-fluid.container-fixed-lg
	.row.panel.panel-default
		.p-t-50
			.col-md-4
				.panel-heading
					.panel-title
						Subir Archivo
				.panel-body
					%i.fa.fa-upload.fa-2x.hint-text.m-t-40
					.h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Usa este formulario para subir archivos a tu cuenta de EDC. 
					%p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Comienza a compartir. 
			.col-md-8
				.m-r-40.m-l-40
					= render 'form'

