- content_for :title  do
  Editar programa - EDC Digital

.container.p-r-0.p-l-0
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Editar programa
        .panel-body
          .row
            .col-sm-8
              %h3
                = @program.name
          .row.padding-20
            = render 'form'

