- content_for :title  do
  = title_text_helper("Editar programa")

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Editar programa
    .panel-body
      .row
        %h3.text-center
          = @program.name
      .row
        = render 'form'

