- content_for :title  do
  = title_text_helper("Nuevo programa")

.container.container-fluid.container-fixed-lg
  .row
    .col-md-12
      %h2.text-center
        Nuevo programa

      = render 'form'
