.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-heading
      .panel-title.question-title
        = @chapter_content.chapter.name
    .panel-body
      .row
        .col-md-12
          .padding-20.p-l-30.p-r-30
            %h2
              = model.identifier
            %div
              - if model.video_url.nil? || model.video_url.empty?
                = raw model.content
              - else
                .embed-responsive.embed-responsive-16by9
                  = raw model.video_url
      .row
        .col-sm-12
          - if @chapter_content.higher_item
            .pull-left
              %a.btn.btn-sm.btn-info.btn-cons.m-b-10{href: dashboard_chapter_content_path(@chapter_content.higher_item)}
                %i.fa.fa-backward
                %span.bold Anterior
          - if @chapter_content.lower_item
            .pull-right
              %a.btn.btn-sm.btn-info.btn-cons.m-b-10{href: dashboard_chapter_content_path(@chapter_content.lower_item)}
                %span.bold Siguiente
                %i.fa.fa-forward
