- case notification.model.notification_type
- when 'rubric'
  %i.fa.fa-calendar-check-o.m-r-10
  %span.fs-12.m-l-10
    Tu rúbrica de evaluación en la plantilla
    %strong
      "#{notification.model.template_refilable.name}"
    ha sido actualizada recientemente.