%i.fa.fa-calendar-check-o.m-r-10
%span.fs-12.m-l-10
	Contenido reportado en el programa
	- unless notification.model.nil? 
		%strong
			"#{notification.model.report.model.chapter.program.name}"
		,	Reporte #
		#{notification.model.report.id}