- content_for :title  do
  = title_text_helper("Editar grupo")

.container-fluid
  .row
    .col-md-12#groupFormContainer
      %h2.text-center
        Editar grupo

      = render partial: 'form', locals: {edit_mode: true}
