- content_for :title  do
  Nuevo grupo - EDC Digital

.container
  .row
    .col-md-12#groupFormContainer
      %h2.text-center
        Nuevo grupo

      = render partial: 'form', locals: {edit_mode: false}
