- content_for :title  do
  = title_text_helper("Nuevo grupo")

.container-fluid
  .row
    .col-md-12#groupFormContainer
      %h2.text-center
        Nuevo grupo

      = render partial: 'form', locals: {edit_mode: false}
