.container
  .row
    .col-md-12
      %h2.text-center
        = @group.name
      %h4
        Progamas habilitados
      %ul
        - @group.programs.each do |program|
          %li
            = program.name

      %h4
        Mentores habilitados
      %ul
        - @group.users.invitation_accepted.each do |user|
          %li
            = user.name
