- content_for :title do
  Inicio - EDC Digital
.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Bienvenido a Emprendiendo Desde Cero Digital
          .col-sm-8.col-md-8.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Esto es EDC Digital
            %p.m-b-25.text-white
              EDC Digital es una plataforma que forma parte de nuestro programa de emprendimiento virtual. Ha sido completamente diseñada para apoyarte a construir y validar tu idea de negocio en el aspecto comercial, técnico y financiero.  Descubre todo lo que EDC Digital tiene para ofrecerte viendo nuestro vídeo explicativo. 

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          /.p-b-25
          /%p
          /La estructura de esta herramienta se compone de diversos elementos, que quizá previamente conociste por medio de e-learning,  con sencillas lecciones que te ayudarán a entender mejor algunos conceptos necesarios para empezar a desarrollar tu emprendimiento. Así mismo, EDCdigital tiene mucho más que ofrecer como la retroalimentación de mentores y expertos al desarrollar tu plan de negocio, y la evaluación mediante rúbricas para determinar qué tan viable es tu idea de negocio.
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{:src => "https://player.vimeo.com/video/188382978"}

          .panel.panel-default.m-t-30
            .panel-heading
              .panel-title
                Instrucciones para comenzar
            .panel-body
              %p
                Para iniciar, puedes ir al menú de la izquierda y visitar la sección #{"<span class='montserrat-lead'>programas</span>".html_safe}, en donde encontrarás lecciones de aprendizaje y preguntas sobre tu negocio que te serán evaluadas.
