- content_for :title do
  Inicio - EDCdigital
.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-heading
          .panel-title
            Esto es EDCDIGITAL
        .panel-body
          %h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %p
            Mauris ac orci dapibus, tincidunt ex eu, convallis nisi. Sed eleifend volutpat ex in consectetur. Suspendisse at mi vitae felis dignissim consectetur. Duis risus est, tincidunt in tristique quis, ultrices a augue. Nunc vel felis et diam tempus sagittis. Vivamus efficitur esar turpis, ut luctus metus scelerisque ultrices.
          %p
            Nunc dictum sed libero eu pretium. Phasellus feugiat suscipit metus. Suspendisse risus neque, finibus mattis sodales non, lobortis vel augue. Pellentesque quis libero quis odio ullamcorper lacinia ac sit amet ante. Integer blandit risus ut porta pellentesque. Integer in eleifend velit. Vivamus fermentum euismod bibendum.
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{:src => "https://player.vimeo.com/video/169257950"}
