.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-perfil
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Panel de notificaciones
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Opciones de notificación.
            %p.m-b-25.text-white
              Utiliza este panel para modificar las opciones de notificación. Esto te permite personalizar la cantidad y tipo de e-mails que llega a tu dirección de correo vinculada a EDC digital.

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-transparent
        .panel-body
          .row
            .col-md-8.col-md-offset-2
              %table.table.table-hover
                %thead
                  %tr
                    %th
                      Notificación
                    %th.text-center
                      Off/On e-mails	
                %tbody
                  %tr
                    %td
                      Nuevo programa de aprendizaje
                    %td.text-center
                      %label.switch
                        %input#new_program{:type => "checkbox", checked: if @noti.new_program.first.nil? then true else @noti.new_program.first.status end, value: "0"}/
                        .slider.round
                  %tr
                    %td
                      Contenido nuevo en un programa de aprendizaje
                    %td.text-center
                      %label.switch
                        %input#up_program{:type => "checkbox", checked: if @noti.up_program.first.nil? then true else @noti.up_program.first.status end, value: "1"}/
                        .slider.round
                  %tr
                    %td
                      Rúbrica de evaluacion actualizada
                    %td.text-center
                      %label.switch
                        %input{:type => "checkbox", checked: if @noti.up_rubric.first.nil? then true else @noti.up_rubric.first.status end, value: "2"}/
                        .slider.round 
                  %tr
                    %td
                      Nuevo archivo compartido
                    %td.text-center
                      %label.switch
                        %input{:type => "checkbox", checked: if @noti.shared_file.first.nil? then true else @noti.shared_file.first.status end, value: "3"}/
                        .slider.round
                  %tr
                    %td
                      Ruta de aprendizaje 
                    %td.text-center
                      %label.switch
                        %input{type: "checkbox", checked: if @noti.up_ruta.first.nil? then true else @noti.up_ruta.first.status end, value: "4"}/
                        .slider.round
                  %tr
                    %td
                      Has sido evaluado
                    %td.text-center
                      %label.switch
                        %input{type: "checkbox", checked: if @noti.up_evaluation.first.nil? then true else @noti.up_evaluation.first.status end, value: "7"}/
                        .slider.round
#alert-ra.pgn-wrapper{"data-position" => "top-right", "style"=>"display:none;"}
  .pgn.push-on-sidebar-open.pgn-simple
    #al.alert.alert-info
      %button.close{"data-dismiss" => "alert", :type => "button"}>
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      #alert_text  
                                       
:javascript
  $(document).on('turbolinks:load', function(){
    $(":checkbox").click(function() {
      $.ajax({
        type: "post", url: "/dashboard/store-notifications-panel",
        data: { 
          'notification': $(this).prop("value"), 
          'status': 'false' 
        },
        success: function (data, text) {
          if (data.nt.status){
            $("#alert_text").text("Notificacion via email activada");
          }else{
            $("#alert_text").text("Notificacion via email desactivada");
          }
          $("#alert-ra").css('display','block');
          setTimeout(function(){$("#alert-ra").css('display','none');},3000); 
        },
        error: function (data) {
          console.log(data);
        }
      });

    });
  });

      
