- content_for :title do
	= title_text_helper("Ruta de aprendizaje")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-30.panel-title-emprendimiento
		.container-fluid
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row.col-md-12
					.col-sm-4.col-md-4.cell-down-pr30.cell-down-pl30
						%h2.text-white 
							Fases de una idea viable
					.col-sm-8.col-md-8.resp-p-l-50.cell-down-pr30.cell-down-pl30
						%h5.text-white
							Tu travesía por EDC Digital
						%p.m-b-25.text-white
							Todo emprendedor deberá recorrer la Ruta de Emprendimiento. El sendero que te llevará por toda la experiencia de EDC Digital mediante cursos de aprendizaje y de construcción de tu idea de negocio. Recibirás retroalimentación constante por tus profesores. A su vez, nuevo contenido será desbloqueado conforme avances. ¿Listo para despegar? 

.container-fluid.container-fixed-lg
	.row
		.col-sm-12
			.panel.panel-transparent
				- if current_user.admin?
					.panel-heading.clearfix
						.panel-title.pull-left
							.pull-right
								- if @texts.exists?
									=link_to edit_route_text_path(@last_text), {:style => 'opacity:1;'} do
										%button.btn.btn-complete.m-l-10
											%i.fa.fa-edit
											Editar Texto
								- else
									=link_to new_route_text_path, {:style => 'opacity:1;'} do
										%button.btn.btn-info.m-l-10
											%i.fa.fa-plus
											Redactar texto
								- if @covers.exists?
									=link_to edit_route_cover_path(@last_cover), {:style => 'opacity:1;'} do
										%button.btn.btn-complete.m-l-10
											%i.fa.fa-image
											Editar Imagen
								- else
									=link_to new_route_cover_path, {:style => 'opacity:1;'} do
										%button.btn.btn-info.m-l-10
											%i.fa.fa-plus
											Subir imagen
					
				.panel-body
					%div.m-b-40
						- if @texts.exists?
							= raw @last_text.redaction
						- else
							Aún no hay descripción de la ruta
					.panel.panel-default.m-b-30
						- if @covers.exists?
							= image_tag(@last_cover.route_image, :class => "image-width-100", :alt => "Ruta de EDC Digital")
						- else
							Ruta de EDC Digital
