- content_for :title do
	Inicio - EDCdigital
.container-fluid.container-fixed-lg
	.row
		.col-sm-12
			.panel.panel-transparent
				.panel-heading.clearfix
					.panel-title.pull-left
						Mi ruta de emprendimiento
					- if current_user.admin?
						.pull-right
							- if @texts.exists?
								=link_to edit_route_text_path(@last_text), {:style => 'opacity:1;'} do
									%button.btn.btn-complete.m-l-10
										%i.fa.fa-edit
										Editar Texto
							- else
								=link_to new_route_text_path, {:style => 'opacity:1;'} do
									%button.btn.btn-info.m-l-10
										%i.fa.fa-plus
										Redactar texto
							- if @covers.exists?
								=link_to edit_route_cover_path(@last_cover), {:style => 'opacity:1;'} do
									%button.btn.btn-complete.m-l-10
										%i.fa.fa-image
										Editar Imagen
							- else
								=link_to new_route_cover_path, {:style => 'opacity:1;'} do
									%button.btn.btn-info.m-l-10
										%i.fa.fa-plus
										Subir imagen
					
				.panel-body
					%div.m-b-30
						= raw @last_text.redaction
					.panel.panel-default.m-b-30
						= image_tag(@last_cover.route_image, :class => "image-width-100", :alt => "Ruta de EDC Digital")
