- content_for :title do
	Inicio - EDCdigital
.container-fluid.container-fixed-lg
	.row
		.col-sm-12
			.panel.panel-transparent
				.panel-heading
					.panel-title
						Mi ruta de emprendimiento
					.panel-body
						%div{:style => "margin-bottom:10px"}
							Esto es EDC Digital. Aquí te presentamos tu ruta a recorrer dentro de nuestra plataforma. A través de esta experiencia te encontrarás con variedad de cursos conformados por secciones de aprendizaje (e-learning) y sus respectivos módulos de construcción de tu idea de negocio; a lo largo de las distintas fases recibirás retroalimentación por parte de nuestros mentores y expertos, quienes te ayudarán a evaluar tu idea en su aspecto comercial, técnico y financiero, conforme la vas construyendo.
						%div{:style => "margin-bottom:20px"}
							Es de importancia saber, que mientras vayas avanzando por tu ruta, nuevo contenido será desbloqueado, así que será necesaria una dedicación constante de tu parte para completar tu viaje y así podamos vincularte de regreso a la Tierra. ¿Listo para despegar? ¡Emprende desde Cero Digital! 
						= image_tag('ruta-edc-digital.png', :class => "image-width-100")
