- content_for :title do
  Polìtica de Uso - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Política de Uso
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Principios de EDC. Última actualización: 9 de Agosto de 2018.
            %p.m-b-25.text-white
              En esta sección podrás revisar los política de uso de la plataforma de EDC Digital. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          %h4.mb8.mt32 Política de uso de datos/contenido
          %p.justificado 
            Así como Distrito Emprendedor tiene un fuerte compromiso con sus emprendedores y su protección intelectual de sus ideas de negocio, se espera que nuestros usuarios hagan lo mismo cuando usen nuestros servicios.
          %p.justificado
            Te pedimos por favor no copiar, reproducir, transferir, transcribir, traducir, alterar, almacenar, descargar o distribuir en ningún medio digital o físico, el Contenido y cualquiera de los recursos que ponemos a tu alcance, a menos que tengas una autorización específica extendida por los curadores de la plataforma EDC Digital y los autores de los derechos intelectuales.
          %h4.mb8.mt32 Sobre las modificaciones
          %p.justificado
            Los autores de las metodologías contenidas en EDC Digital hacen un constante esfuerzo porque el Contenido que llega a ti a través de nuestra plataforma esté siempre actualizado y vaya acorde a los cambios que se están viviendo, por lo mismo nos reservamos el derecho a eliminar, modificar, aumentar o interrumpir el Contenido de cualquiera de nuestros programas, módulos, entregables, tareas o cualquier recurso dentro de la Plataforma.
          %p.justificado
            Así mismo debes saber que a pesar de nuestro constante esfuerzo para que los contenidos brindados estén sustentados con fuentes fidedignas y confiables, el Contenido y consejos expresados deben entenderse como orientativos; por lo que los responsables de EDC Digital no responden de ninguna forma de la efectividad o exactitud de los mismos, quedando exento de cualquier responsabilidad contractual o extracontractual. Toda la información manejada en los cursos, mentorías, pláticas y talleres es meramente en forma de consejos y sugerencias, por lo que Distrito Emprendedor no se hace responsable por daños o pérdidas generadas a partir de atender a estos consejos y sugerencias.
          %p.justificado
            Los responsables de EDC Digital guardan un fuerte compromiso con la educación y mejora continua de las técnicas de enseñanza, por este motivo se realizan constantes investigaciones en donde podrás estar expuesto a variaciones en el contenido de nuestros cursos en relación a otros usuarios.

          %h4.mb8.mt32 Sobre la relación con las Instituciones y Universidades
          %p.justificado
            A menos que esté indicado explícitamente por una institución, la participación o finalización de un curso no otorga ningún crédito ni tiene alguna validez frente a ninguna Universidad.
          %p.justificado  
            Así mismo dentro de la Plataforma EDC tendrás la posibilidad de acceder y usar el contenido proporcionado por terceros como son Universidades, Empresas u Organizaciones.
          %p.justificado
            Dentro de nuestra plataforma, tratamos de que este contenido vaya acorde al nuestro, sin embargo, los autores de EDC Digital no se hacen responsables por el contenido publicado por dichas partes de manera externa.
          %p.justificado
            Nos reservamos el derecho de suspender, deshabilitar, o eliminar las cuentas de usuarios que infrinjan de manera repetida o a los que se les acuse de manera repetida de infringir los copyrights, las marcas registradas u otros derechos de propiedad intelectual.
          %p.justificado
            Así mismo, te pedimos que si identificas dentro de nuestros servicios contenido que infrinja de alguna manera la propiedad intelectual, nos lo notifiques a través de la sección de comentarios o enviando un correo a soporte2@edc-digital.com para que podamos revisarlo y dar la solución apropiada.    