- content_for :title do
  = title_text_helper("Principios")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Principios
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Principios de #{digital_courses_text_helper}
            %p.m-b-25.text-white
              En esta sección podrás revisar los principios de la plataforma de #{digital_courses_text_helper}. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          %h4.mb8.mt32
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          %p.justificado 
            Sed accumsan augue non nulla pulvinar, sed eleifend lectus cursus. Suspendisse porta erat sed lacus consequat tempus. Fusce sit amet sapien ut mi ornare tincidunt eu sed ex. Phasellus in molestie nisi. Nunc vitae mi massa. Mauris suscipit erat massa, vel fermentum dui venenatis et. Vivamus eleifend mi at ipsum ultricies auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut libero felis, egestas suscipit ultrices sit amet, imperdiet at turpis. Aliquam lorem nibh, accumsan vel mi vel, posuere tincidunt nunc. Donec pharetra in dolor in semper. Vivamus pharetra, urna sed dapibus rutrum, mauris elit lobortis dolor, in maximus nulla lorem non velit. 
          %p.justificado
            Etiam in commodo ligula, sed mattis velit. Quisque dapibus nisi vel ultrices pulvinar. Vivamus vel ipsum vestibulum, tincidunt eros a, fermentum arcu. Ut nec facilisis dolor, id maximus ligula. Suspendisse aliquet diam viverra sapien commodo pharetra. Vestibulum at turpis non nisl pharetra accumsan et ac lorem. Proin vehicula dapibus nulla. Morbi hendrerit placerat leo a fermentum. Duis quis varius sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla volutpat vel arcu vitae congue. Sed placerat vehicula enim, et venenatis nisl tempor non. In vel neque sit amet velit laoreet eleifend. Aenean congue justo eu luctus fringilla. 
          %p.justificado
            Nulla facilisi. Morbi vel turpis porttitor, aliquam massa ut, commodo ante. Etiam at tempus quam. Nam ut venenatis tortor. Praesent in dolor enim. Vivamus ac lectus id tellus sagittis interdum a semper enim. Ut eu blandit enim. Duis dignissim ultricies ex, ac aliquet leo blandit non. Pellentesque dictum imperdiet est, viverra pretium libero semper et. Suspendisse faucibus justo ut massa porta, id suscipit augue vulputate. Vestibulum quis lorem non est iaculis molestie id vel sem. Fusce porta sodales laoreet. Sed id mollis enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          %h4.mb8.mt32
            Aenean ac mauris vehicula, scelerisque eros a, posuere arcu
          %p.justificado
            Ut vel iaculis turpis, vel molestie sapien. Aenean ac mauris vehicula, scelerisque eros a, posuere arcu. Mauris bibendum, ligula at lacinia scelerisque, erat sem condimentum felis, sit amet euismod purus nisi sit amet lacus. Pellentesque vitae sem arcu. Etiam suscipit laoreet orci ut lobortis. Duis fermentum dapibus diam et posuere. Etiam blandit urna a ante varius volutpat. Donec tincidunt semper tellus sed pulvinar. Nam euismod lacinia purus, feugiat placerat ante dictum eu. Morbi bibendum sagittis elit vel tincidunt. Phasellus condimentum nisi dolor. Pellentesque at justo eget magna mollis interdum ac ut sapien. Pellentesque id facilisis ex. 
          %p.justificado
            Etiam blandit lobortis leo non suscipit. Phasellus ullamcorper volutpat mauris nec imperdiet. Sed dapibus ex ac neque interdum, eget tincidunt quam gravida. Phasellus varius odio nisl, quis tincidunt ante placerat id. Vivamus consectetur sapien eget lacus interdum dapibus. Fusce fermentum placerat neque, et malesuada purus faucibus nec. Maecenas venenatis magna ac finibus dapibus. Quisque ut libero metus. Ut ultricies nisl porta, euismod dolor ac, eleifend sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam non augue congue, tristique turpis sed, laoreet erat. Fusce iaculis urna odio, eu ornare sapien elementum ut. Vestibulum fermentum quis justo in vestibulum. Praesent id commodo massa. Aenean vel dui vel massa gravida aliquam. 
          %p.justificado
            Nulla facilisi. Morbi vel turpis porttitor, aliquam massa ut, commodo ante. Etiam at tempus quam. Nam ut venenatis tortor. Praesent in dolor enim. Vivamus ac lectus id tellus sagittis interdum a semper enim. Ut eu blandit enim. Duis dignissim ultricies ex, ac aliquet leo blandit non. Pellentesque dictum imperdiet est, viverra pretium libero semper et. Suspendisse faucibus justo ut massa porta, id suscipit augue vulputate. Vestibulum quis lorem non est iaculis molestie id vel sem. Fusce porta sodales laoreet. Sed id mollis enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
