- content_for :title do
  Principios - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Principios
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Principios de EDC. Última actualización: 9 de Agosto de 2018.
            %p.m-b-25.text-white
              En esta sección podrás revisar los principios de la plataforma de EDC Digital. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          %p.justificado
            El equipo de la plataforma EDC Digital y nuestros colaboradores nos regimos bajo los valores de 
            %strong respeto, colaboración, ética, solidaridad, honestidad y coherencia
            , mismos que nos han permitido consolidarnos como una Institución generadora de bienestar y es nuestro objetivo a través de nuestros cursos, talleres y Plataforma EDC Digital formar emprendedores que generen un impacto positivo en su entorno, por esta razón todos los emprendedores que participen de la plataforma y demás recursos que EDC Digital pone a su alcance, deben estar de acuerdo en atenerse al siguiente código de comportamiento:
            %ul
              %li.justificado 1. Solo es posible ingresar a la plataforma mediante el registro de una cuenta por participante del taller presencial correspondiente o mediante la adquisición directa del usuario, pudiendo hacer uso de la misma todas las personas involucradas en un emprendimiento relacionado.
              %li.justificado 2. Las respuestas a las tareas, rellenables o plantillas, documentos entregables y evaluaciones deben ser de tu propio trabajo y autoría.
              %li.justificado 3. No debes proporcionar a compañeros o personas sin vínculo, las soluciones de los cuestionarios, exámenes o evaluaciones, y plantillas o rellenables así como los documentos entregables, es decir, a nadie. Esto incluye tanto las partes escritas por ti, así como cualquier complemento que represente un tipo de guía o solución(es) que haya sido obtenida mediante la comunicación con el equipo del modelo de emprendimiento a otros participantes o bien, terceros sin vínculo.
              %li.justificado 4. No tener vínculo o participar activamente en cualquier tipo de actividad que incite a otros al mal uso, o bien te beneficie al momento de buscar cambiar tus resultados para obtener mejores resultados, o hablando de terceros, se vean beneficiados o perjudicados.Entre tú y los mentores de la plataforma debe existir en todo momento un diálogo profesional y respetuoso.
              %li.justificado 5. Así también la relación mentor-usuario debe estar limitada únicamente a temas relacionados o que influyan directamente, con tu idea de negocio o con la retroalimentación de tu mentor.
              %li.justificado 6. Nos reservamos el derecho de suspender, deshabilitar, o eliminar las cuentas de usuarios que rebasen los límites de la confianza y el respeto con cualquier miembro del equipo de EDC Digital, haciendo uso de palabras altisonantes, insinuantes o que vayan más allá de la retroalimentación de su idea de negocio.
