- content_for :title do
  = title_text_helper("Política de privacidad")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.cell-down-pr30.cell-down-pl30
            %h2.text-white 
              Política de privacidad
          .col-sm-8.col-md-8.resp-p-l-50.cell-down-pr30.cell-down-pl30
            %h5.text-white
              Política de privacidad de EDC. Última actualización: 21 de Noviembre de 2016.
            %p.m-b-25.text-white
              En esta sección podrás encontrar la política de privacidad de EDC Digital en relación a tu información y datos personales. ¡No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      / START PANEL
      .panel.panel-transparent
        .panel-body
          %p
            Distrito Emprendedor respeta tu privacidad y la información que nos proporciones, por lo que el presente Aviso de Privacidad (“el Aviso”) es aplicable a los distintos sitios www.edcdigital.mx, www.edc-digital.com, www.edc.digital, www.edc-comercial.com, www.edc-financiero.com, www.emprendemegatendencias.com y cuales quiera de los sitios operados operados bajo la marca EDCdigital o Emprendiendo desde Cero, en relación a los servicios que presta por el uso de la Página Web y Plataforma Web. El presente aviso se emite de conformidad y en términos de lo establecido por la Ley Federal de Protección a los Datos Personales en Posesión de los Particulares (“LFPDPPP”).
          %p
            Distrito Emprendedor no realiza ninguna actividad prohibida por las leyes nacionales e internacionales y recaba tu información únicamente para los fines descritos en este Aviso. En arreglo a lo dispuesto por la LFPDPPP, el presente Aviso es consentido de forma tácita. Todos los Usuarios y Usuarios Registrados (“Los Usuarios”), aceptan el presente Aviso de conformidad a lo establecido en los Términos y Condiciones, si Los Usuarios no aceptan los Términos y Condiciones deberán de abstenerse de utilizar el Sitio y/o la Página Web, en el caso de que Los Usuarios continúen utilizando el Sitio y/o La Página Web, se entenderá que los Términos y Condiciones fueron aceptados así como el presente Aviso. Los Usuarios que no se abstengan de utilizar y/o abandonar el Sitio o cesar el uso de la Página Web lo hacen de forma libre y aceptan los fines y alcance de este Aviso. El Aviso podrá ser actualizado sin previo aviso, no obstante Distrito Emprendedor notificará a todos los Usuarios en el dato de contacto proveído. Todo cambio efectuado en el Aviso surtirá efectos el día de su publicación en el Sitio y se considerará como consentido salvo en los casos que los Usuarios notifiquen su declinación en hola@distritoemprendedor.com. Todos los Usuarios que no acepten el Aviso deberán de cesar el uso de la plataforma.
          %p
            GONEXT SA DE CV, mejor conocido como GONEXT, con domicilio en calle Retorno 1, No. 208, Col. Empleados SFEO, Monterrey, Nuevo León, México, C.P. 64909 y con portal de internet www.gonext.mx, opera la plataforma EDCdigital y sus derivados; es el responsable de recabar y proteger sus datos personales y/o datos sensibles, del uso que se le dé a los mismos y de su protección cuando sean recabados a través de la dirección de Internet www.edcdigital.mx, www.edc-digital.com, www.edc.digital, www.edc-comercial.com, www.edc-financiero.com, y/o www.emprendemegatendencias.com. Además de que podrá ser contactado por conducto de:
          %p
            a. Correo electrónico: hola@distritoemprendedor.com
            b. Teléfono: (55) 12-04-09-44
            c. Facebook: www.facebook.com/DistritoEmprendedorMx
          %h4.mb8.mt32 1. ¿Qué Datos Personales recabamos y como los recabamos?
          %p
            GONEXT recaba únicamente la información y Datos Personales que se suministran al llenar los formularios de la plataforma EDCdigital y cualquiera de sus derivados. La información se obtiene únicamente cuando Los Usuarios generan un Usuario para construir y validar su idea de negocio.
          %p{:style => "margin-bottom: 0px;"}
            a. Los datos que recabamos cuando Los Usuarios se registran y/o asisten a un evento son:
          %p{:style => "padding-left: 25px"}
            i. Datos de identificación
            %br/
            ii. Datos de contacto
            %br/
            iii. Datos laborales
            %br/
            iv. Datos de proyectos de emprendimiento
          %p
            b. Los Usuarios se obligan a proveer información veraz, completa y exacta, y en caso de requerir actualizarla, efectuar el procedimiento contemplado en el Aviso de conformidad a sus derechos ARCO. Los Usuarios no podrán acceder a los servicios para los que se requieran sus Datos Personales, si estos no son proporcionados.
          %h4.mb8.mt32 2. ¿Para que fines recabamos los Datos Personales de Los Usuarios?
          %p{:style => "margin-bottom: 0px"}
            Los datos personales que usted nos proporcione, serán utilizados para las siguientes finalidades, necesarias para el servicio que se solicita:
          %p{:style => "padding-left: 25px"}
            a. Verificar y confirmar su identidad.
            %br/
            b. Creación de una cuenta en nuestra plataforma www.edc-digital.com
            %br/
            c. Notificar sobre aspectos relevantes y de retroalimentación respecto a su proyecto de emprendimiento.
            %br/
            d. Realizar la inscripción en nuestros programas de emprendimiento.
            %br/
            e. Dar seguimiento, asesoría y retroalimentación a su proyecto de emprendimiento.
            %br/
            f. Creación y actualización de base de datos.
            %br/
            g. Para fines de mercadotecnia o publicitarios.
            %br/
            h. Prospección comercial.
          %p
            GONEXT, conservará sus Datos Personales únicamente por el tiempo dispuesto por la LFPDPPP
          %h4.mb8.mt32 3. ¿Qué hace GONEXT con la información que recaba?
          %p{:style => "margin-bottom: 0px"}
            Utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:
          %p{:style => "padding-left: 25px"}
            a. Difundir los eventos organizados y noticias generadas en el marco del programa de capacitación.
            %br/
            b. Compartir información que sea del interés según el perfil de los registrados.
            %br/
            c. Evaluar la calidad del servicio.
            %br/
            d. Realizar estudios internos sobre las empresas.
            %br/
            e. Realizar reportes estadísticos.
          %p
            En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted puede comunicarnos lo anterior enviando un correo electrónico a hola@distritoemprendedor.com.
          %p
            La negativa para el uso de sus datos personales para estas finalidades podrá ser un motivo para la negación de los servicios y productos que se solicitan o contratan con nosotros.
          %h4.mb8.mt32 4. ¿Con quiénes serán compartidos mis Datos Personales?
          %p
            Le informamos que sus datos personales son compartidos dentro y fuera del país con las instituciones vinculadas a la realización de estos proyectos de capacitación con la marca Distrito Emprendedor.
          %p{:style => "margin-bottom: 0px"}
            Esta información será utilizada únicamente bajo los siguientes fines:
          %p{:style => "padding-left: 25px"}
            \- Realización de reportes estadísticos.
            %br/
            \- Difusión de eventos organizados y noticias generadas en el marco del proyecto.
          %h4.mb8.mt32 5. ¿Cómo ejercer mis derechos ARCO (acceder, rectificar, cancelar u oponerme) al tratamiento de mis Datos Personales?
          %p{:style => "margin-bottom: 0px"}
            Todos los Usuarios tienen el derecho a Acceder los Datos Personales que poseemos y a los detalles del tratamiento de los mismos así como a rectificarlos en caso de ser inexactos, incorrectos o que hayan cambiado, o en su caso solicitarnos la cancelación cuando consideren que el uso ha rebasado el fin establecido, por lo que podrá oponerse al tratamiento de éstos mediante un escrito que deberá ser enviado a hola@distritoemprendedor.com y como mínimo contener:
          %p{:style => "padding-left: 25px"}
            a. El asunto del correo electrónico deberá contener en mayúsculas SOLICITUD PARA EJERCICIO DE DERECHOS ARCO.
            %br/
            b. Nombre del titular.
            %br/
            c. Domicilio.
            %br/
            d. Copia de identificación oficial.
            %br/
            e. Descripción de los datos personales por los cuales busca ejercer su derecho.
            %br/
            f. Cualquier elemento y/o seña en particular que nos permita identificar los datos por los cuales está ejerciendo su derecho como; nombre de usuario, hecho que generó la divulgación.
            %br/
            g. Adicional a lo anterior los Usuarios podrán contactar a GONEXT y el responsable de los datos en Calle Retorno 1 #208, Colonia Empleado SFEO, C.P. 64909, Monterrey, N.L.
            %br/
            GONEXT contestará las peticiones relacionadas a los derechos ARCO en un periodo no superior a 20 días hábiles.
          %h4.mb8.mt32 7. ¿Qué procedimientos de seguridad utiliza GONEXT?
          %p
            GONEXT utiliza una red de datos seguros protegida por sistemas de protección bajo los estándares de la industria y de protección de contraseñas.
          %h4.mb8.mt32 8. ¿Qué medios ofrece GONEXT para limitar el uso o divulgación de mis Datos Personales?
          %p
            GONEXT, a petición de los Usuarios en hola@distritoemprendedor.com podrá limitar el uso y/o divulgación de los datos siempre y cuando el Usuario notifique claramente el cese de uso así como las limitantes requeridas.
          %h4.mb8.mt32 9. ¿Ante quién puedo presentar quejas y/o denuncias por el uso indebido de mis Datos Personales en conexión con GONEXT?
          %p
            Los Usuarios que tuvieran alguna queja, inconformidad o daño por parte del uso indebido de sus Datos Personales podrán iniciar un procedimiento ante el Instituto Federal de Acceso a la Información de conformidad a lo dispuesto por la LFPDPPP.
          %h4.mb8.mt32 10. ¿GONEXT transfiere mis Datos Personales?
          %p GONEXT no transfiere datos personales de los Usuarios. GONEXT, por ministerio de ley en casos de contribuciones fiscales y/o controversias judiciales podrá divulgar información únicamente a las autoridades competentes.
          %h4.mb8.mt32 11. ¿Qué procedimiento se utiliza por el responsable del resguardo de mis Datos Personales para notificar cambios en el Aviso?
          %p GONEXT y/o el responsable del resguardo de los Datos Personales se reservan el derecho para hacer modificaciones al Aviso sin previa notificación, GONEXT, publicará en el Sitio el nuevo Aviso y enviará un correo electrónico a los titulares en donde podrá (a) informar acerca de los cambios, (b) enviar un acceso directo al nuevo aviso, (c) enviar un resumen acerca de los cambios. Los Usuarios que no estuvieran de acuerdo con el nuevo Aviso deberán de abstenerse de utilizar el Sitio, la Página Web y/o los Servicios, de lo contrario se tendrán por consentidos. (d) adicionalmente, podrán enviar un correo electrónico a hola@distritoemprendedor.com para solicitar se tenga por cancelado el uso de sus datos de conformidad a este Aviso y en términos del ejercicio de sus derechos ARCO.
          %h4.mb8.mt32 12. ¿GONEXT, recaba Datos Personales de carácter sensible?
          %p
            GONEXT no discrimina y está en contra de la discriminación por lo que no recaba ningún dato que afecte la intimidad de las personas como lo pueden ser datos de origen racial, étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas y preferencia sexual.
          %h4.mb8.mt32 13. ¿Cómo puede conocer los cambios en este aviso de privacidad?
          %p
            El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
          %p
            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de nuestra página de internet.
          %p
            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad será un banner  en la página de inicio de la página de internet.
          %h4.mb8.mt32 14. Su consentimiento para el tratamiento de sus datos personales
          %p
            El usuario consiente que sus datos personales sean tratados de conformidad con los términos y condiciones informados en el presente aviso de privacidad.
      / END PANEL
