- content_for :title do
  Política de Privacidad - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Política de privacidad
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Política de privacidad de EDC. Última actualización: 9 de Agosto de 2018.
            %p.m-b-25.text-white
              En esta sección podrás encontrar la política de privacidad de EDC Digital en relación a tu información y datos personales. ¡No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      / START PANEL
      .panel.panel-transparent
        .panel-body
          %h4.mb8.mt32 Sobre tu idea de negocio
          %p.justificado
            En Distrito Emprendedor sabemos que la confidencialidad sobre tu idea de negocio es muy importante, por ello nos comprometemos: Todos los aliados de EDC Digital, personal operativo, mentores, equipo administrativo y colaboradores, a no divulgar, ni utilizar, ni transferir parcial o totalmente la información por parte de los usuarios de la plataforma. Del mismo modo, no transferiremos en ninguna manera el contenido sensible de los proyectos (patentes, marcas, modelos de utilidad, etc.) registrados en la plataforma EDCdigital o cualquiera de sus derivados. Finalmente, todo personal involucrado en la operación de la plataforma EDCdigital asume un total compromiso de no-competencia con el emprendedor y su totalidad del proyecto, sin involucrar el uso de sus partes en lo individual. Asimismo, todos los usuarios aceptan que el trámite de registro de cualquier propiedad industrial o intelectual (patente, marca, modelo de utilidad, derecho de autor, etc.) es totalmente su responsabilidad y que el Equipo de EDC Digital no se hace responsable de ninguna manera de la protección de ninguna idea, proceso o tecnología.
          %p.justificado
            Es de mencionar que no habrá ninguna obligación de confidencialidad por el capacitador o su equipo de trabajo en cualquiera de las siguientes situaciones: 

            %ul
              %li 
                %strong a)
                Cuando la información se encuentre disponible de forma pública previo a su registro en la plataforma EDCdigital, o se vuelva pública durante o posterior a su registro.

              %li 
                %strong b) 
                Cuando la información era ya conocida por el receptor previo al registro en la plataforma EDCdigital o se le hace conocer por una tercera parte de buena fé y con derecho a divulgar la información.  
              %li
                %strong c) 
                Cuando la información es divulgada por el receptor en acuerdo a la aprobación del usuario EDCdigital.  
              %li 
                %strong d) 
                Cuando la información es divulgada por el usuario o algún miembro de su equipo, sin restricción de alguna futura cláusula de no divulgación.  
              %li
                %strong e) 
                Cuando la información es desarrollada, descubierta, dilucidada o estructurada por el receptor de manera independiente.  
              %li
                %strong f)
                Cuando el receptor es obligado a divulgar o difundir la información para cumplir con leyes o regulaciones aplicables.
          %h4.mb8.mt32 Respecto a la información que compartas en la plataforma
          %p.justificado  
            Respecto al contenido que compartes con mentores y/u otros usuarios, es decir, tus tareas, exámenes, y entregables, así como los comentarios que haces en la plataforma, tú conservas todos los derechos de propiedad intelectual, y eres responsable, por el contenido de usuario que compartes.
          
          %h4.mb8.mt32 Respecto a la retroalimentación que nos haces
          %p.justificado
            Cualquier sugerencia, idea, comentario u otra retroalimentación será siempre bienvenida mientras se mantenga dentro de los márgenes del respeto. Cuando envías cualquier retroalimentación, nos concedes el derecho a usarla sin ningún tipo de restricción o de compensación para ti. Al aceptar tu retroalimentación, los curadores de la plataforma EDC digital no renuncian al derecho de usar opiniones similares o relacionadas que se hayan publicado previamente en la Plataforma EDC Digital, desarrolladas por sus empleados o contratantes, u obtenidas de otras fuentes.
          %p.justificado  
            Todos los usuarios de EDCdigital aceptan que sus proyectos pueden ser discutidos en publicaciones y material de comunicación, especialmente aquellos diseñados para los medios escritos y audiovisuales con el previo consentimiento de las partes involucradas.
          %h4.mb8.mt32 Sobre tu información personal

          %p.justificado
            La información personal que te pedimos y que es recabada a través de nuestros Servicios (entíendase 
            %a{href: "www.edcdigital.mx"}
              www.edcdigital.mx
            ,
            %a{href: "www.edcdigital.com"}
              www.edcdigital.com
            ,
            %a{href: "www.edcdigital"}
              www.edcdigital
            ,  
            %a{href: "www.edc-comercial.com"}
              www.edc-comercial.com
            ,  
            %a{href: "www.edc-financiero.com"}
              www.edc-financiero.com      
            , y/o
            %a{href: "www.emprendemegatendencias.com"}
              www.emprendemegatendencias.com 
            ), así como aquella información que nos envíes a través de nuestro correo electrónico: soporte2@edc-digital.com, nuestro número telefónico:(55) 12-04-09-44 o nuestra página de Facebook:
            %a{href: "www.facebook.com/DistritoEmprendedorMx"} 
              www.facebook.com/DistritoEmprendedorMx
            , están bajo total confidencialidad respecto a la Ley Federal de Protección a los Datos Personales en Posesión de los Particulares (“LFPDPPP”) y no los conservaremos más allá de lo que disponga dicha ley.

          %p.justificado 
            Debes saber que dichos datos los pedimos para:
            %ul
              %li Verificar y confirmar tu identidad.
              %li Creación de una cuenta en nuestra plataforma www.edc-digital.com 
              %li Notificarte sobre aspectos relevantes y de retroalimentación respecto a tu proyecto de emprendimiento. 
              %li Realizar la inscripción en nuestros programas de emprendimiento.
              %li Dar seguimiento, asesoría y retroalimentación a tu proyecto de emprendimiento.
              %li Creación y actualización de base de datos. 
              %li Para fines de mercadotecnia o publicitarios y de prospección comercial. 

          %p.justificado 
            Así mismo otros fines secundarios por los que recabamos tus datos es para:
            %ul
              %li Invitarte a nuestros eventos y/o enviarte  noticias sobre emprendimiento que consideramos pueden ser de tu interés 
              %li Compartir información que sea del interés según el perfil de los registrados. 
              %li Darte la oportunidad de evaluar la calidad de nuestro servicio. 
              %li Realizar estudios internos sobre las empresas. 
              %li Realizar reportes estadísticos.

          %p.justificado Si no deseas que tus datos sean utilizados para ninguno de estos fines secundarios puedes contactarte con nosotros al correo soporte2@edc-digital.com

          %p.justificado Finalmente, Distrito Emprendedor no discrimina y está en contra de la discriminación, por lo mismo, no recabamos ningún dato que afecte la intimidad de las personas como lo pueden ser datos de origen racial, étnico, estado de salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas y preferencia sexual.

  