- content_for :title do
  Confidencialidad y Propiedad Industrial - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Confidencialidad y Propiedad Industrial
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Confidencialidad y propiedad de EDC. Última actualización: 21 de Noviembre de 2016.
            %p.m-b-25.text-white
              En esta sección encontrarás lo referente al cuidado de tu información confidencial y de propiedad industrial aplicable dentro de la plataforma. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      / START PANEL
      .panel.panel-transparent
        .panel-body
          %p
            Bienvenido a EDCdigital, plataforma diseñada para que los emprendedores construyan y validen sus ideas de negocio desde cero. Distrito Emprendedor es una marca que promueve el emprendimiento a través de cursos y capacitaciones, operada en materia web y medios digitales a través de GONEXT S.A. de C.V. En lo sucesivo encontrarás lo referente al cuidado de tu información confidencial y de propiedad industrial, aplicable para todos los usuarios registros en esta plataforma de Internet.
          %p
            FAVOR DE LEER LOS SIGUIENTES TÉRMINOS Y CONDICIONES DE SERVICIO, PUES CONTIENEN INFORMACIÓN DE CONTUNDENCIA RESPECTO A TUS DERECHOS Y OBLIGACIONES COMO USUARIO; EL DESCONOCIMIENTO DE LO AQUÍ CONTENIDO NO TE EXIME DE RESPONSABILIDAD NI EXCLUYE DE ALCANCE.
          %h4 1. Propiedad Intelectual
          %p
            Distrito Emprendedor no se reserva ningún derecho sobre la propiedad intelectual asociada a los proyectos registrados en la plataforma EDCdigital y cualquiera de sus derivados, es decir, Distrito Emprendedor no pedirá ningún tipo de derecho y los usuarios serán los únicos titulares. Asimismo, todos los usuarios aceptan que el trámite de registro de cualquier propiedad industrial o intelectual (patente, marca, modelo de utilidad, derecho de autor, etc.) es totalmente su responsabilidad y que el Equipo de Distrito Emprendedor no se hace responsable de ninguna manera de la protección de ninguna idea, proceso o tecnología.
          %h4 2. Certificaciones
          %p
            Para utilizar esta plataforma no es un requisito que las tecnologías o productos ofrecidos cuenten con certificaciones o validaciones tecnológicas, por lo que Distrito Emprendedor no está obligado a realizar una revisión exhaustiva sobre la existencia de las mismas. Distrito Emprendedor manifiesta que los usuarios de EDCdigital son los únicos responsables por la comunicación sobre certificaciones y validaciones tecnológicas en publicidad, fichas técnicas y cualquier otra vía realizada por la empresa tanto en la plataforma como en cualquier otro medio.
          %h4 3. Protesta de terceros
          %p
            Los usuarios se comprometen a garantizar la veracidad de la información que comparten a Distrito Emprendedor, por lo el equipo de Distrito Emprendedor no está obligado a realizar una investigación sobre la originalidad, propiedad industrial de la tecnología, certificaciones o validación tecnológica; sin embargo, ésta se puede realizar de manera aleatoria y en cualquier etapa de la capacitación. En el supuesto de que se encontrara algo que llamara la atención de los evaluadores, se podrá solicitar mayor información a los usuarios durante su proceso de capacitación.
          %p
            Dado lo anterior, los usuarios son los únicos legalmente responsables por la originalidad y el contenido del proyecto registrado, por lo que ante cualquier reclamación de terceros, el Equipo de Distrito Emprendedor se libera de toda responsabilidad.
          %h4 4. Protección de la información
          %p
            Todos los aliados de Distrito Emprendedor, personal operativo, instructores, equipo administrativo y colaboradores, asumen un compromiso sólido como corresponsables del aviso de privacidad de la información y/o de datos personales proporcionados por los usuarios, conforme a la Ley Federal de Protección de Datos Personales. Asimismo, han firmado una carta-compromiso para no divulgar, ni utilizar, ni transferir parcial o totalmente la información explícitamente indicada como CONFIDENCIAL por parte de los usuarios de la plataforma. Del mismo modo, no transferirán en ninguna manera el contenido sensible de los proyectos (patentes, marcas, modelos de utilidad, etc.) registrados en la plataforma EDCdigital o cualquiera de sus derivados. Finalmente, todo personal involucrado en la operación de la plataforma EDCdigital asume un total compromiso de no-competencia con el emprendedor y su totalidad del proyecto, sin involucrar el uso de sus partes en lo individual.
          %p{:style => "margin-bottom: 0px"}
            Es de mencionar que, aunque los usuarios indiquen que alguna parte de su información es CONFIDENCIAL, no habrá ninguna obligación de confidencialidad por el receptor Distrito Emprendedor o su equipo de trabajo en cualquiera de las siguientes situaciones:
          %p{:style => "padding-left: 25px"}
            a. Cuando la información se encuentre disponible de forma pública previo a su registro en la plataforma EDCdigital, o se vuelva pública durante o posterior a su registro.
            %br/
            b. Cuando la información era ya conocida por el receptor (Distrito Emprendedor) previo al registro en la plataforma EDCdigital o se le hace conocer por una tercera parte de buena fé y con derecho a divulgar la información.
            %br/
            c. Cuando la información es divulgada por el receptor en acuerdo a la aprobación del usuario EDCdigital.
            %br/
            d. Cuando la información es divulgada por el usuario o algún miembro de su equipo, sin restricción de alguna futura cláusula de no divulgación.
            %br/
            e. Cuando la información es desarrollada, descubierta, dilucidada o estructurada por el receptor de manera independiente.
            %br/
            f. Cuando el receptor es obligado a divulgar o difundir la información para cumplir con leyes o regulaciones aplicables.
          %p
            Todos los usuarios de EDCdigital aceptan que sus proyectos pueden ser discutidos en publicaciones y material de comunicación, especialmente aquellos diseñados para los medios escritos y audiovisuales con el previo consentimiento de las partes involucradas.
      / END PANEL
/ END CONTAINER FLUID
