- content_for :title do
  Ayuda - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-transparent
    .panel-body
      .row
        .col-sm-10
          %h3
          .row-xs-height
            .col-xs-height
              %h3.no-margin Solicita ayuda de nuestro equipo de mentores
              %p.hint-text.m-t-5
                Utiliza esta forma de contacto para solicitar apoyo ne áreas de mentoría para tu idea de negocio

          - if notice
            .alert.alert-success
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              = notice
          - if alert
            .alert.alert-danger
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              = alert

          = form_tag(dashboard_send_support_email_path, class: 'form-horizontal') do
            .form-group
              %label.col-sm-3.control-label{:for => "subject"} Asunto
              .col-sm-9
                %input#correo.form-control{:name => "subject", :placeholder => "Aquí va tu asunto", :required => "", :type => "text"}/
            .form-group
              %label.col-sm-3.control-label{:for => "urgency"} Nivel de urgencia
              .col-sm-9
                %select.full-width.form-control.minimal{name: 'urgency'}
                  %option{:disabh => "", "form-grouped" => "", :selected => "selected", :value => "none"} Por favor selecciona que la urgencia de tu mensaje
                  %option{:value => "Esto es solo un mensaje"} Esto es solo un mensaje
                  %option{:value => "Estaré bien, pero por favor arreglen esto"} Estaré bien, pero por favor arreglen esto
                  %option{:value => "Estoy atorado, nada de lo que hago funciona"} Estoy atorado, nada de lo que hago funciona
                  %option{:value => "Esto me está matando"} Esto me está matando
                  %option{:value => "Emergencia: Esto es crítico"} Emergencia: Esto es crítico
            .form-group
              %label.col-sm-3.control-label{:for => "matter"} Clasificación
              .col-sm-9
                %select.full-width.form-control.minimal{name: 'matter'}
                  %option{:disabh => "", "form-grouped" => "", :selected => "selected", :value => "none"} Por favor clasifica tu mensaje
                  %option{:value => "Comentario"} Comentario
                  %option{:value => "Sugerencia"} Sugerencia
                  %option{:value => "Duda sobre el contenido"} Duda sobre el contenido
                  %option{:value => "Duda sobre la plataforma"} Duda sobre la plataforma
            .form-group
              %label.col-sm-3.control-label{:for => "message"} Mensaje / Problema
              .col-sm-9
                %textarea.form-control{:rows => "8", :placeholder => "Describe aquí el problema o lo que estás enfrentando", name: 'message'}
            .clearfix
            .row.m-t-15
              .col-sm-12
                %button.btn.btn-success.btn-lg.pull-right{:type => "submit"} 
                  %i.fa.fa-send-o 
                  Enviar
