- content_for :title do
  = title_text_helper("Términos de servicio")

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.cell-down-pr30.cell-down-pl30
            %h2.text-white 
              Términos de servicio
          .col-sm-8.col-md-8.resp-p-l-50.cell-down-pr30.cell-down-pl30
            %h5.text-white
              Términos de servicio de EDC. Última actualización: 9 de Agosto de 2018.
            %p.m-b-25.text-white
              En esta sección podrás revisar los términos y condiciones que aceptas al registrarte como usuario de la plataforma de EDC Digital. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          %h4.mb8.mt32
            Qué debes saber sobre la plataforma y otros servicios 
          %p.justificado 
            Bienvenido a EDCdigital, plataforma diseñada para que los emprendedores aprendan, construyan y validen sus ideas de negocio desde cero. Los autores del contenido de la plataforma Emprendiendo desde Cero Digital, es una marca que promueve el emprendimiento a través de cursos y capacitaciones, operada en materia web y medios digitales a través de GONEXT S.A. de C.V.
          %p.justificado   
            Te pedimos por favor tomar un momento para leer los 
            %strong Términos y Condiciones
            , 
            %strong Principios
            , 
            %strong Política de uso de datos
            , 
            %strong Política de privacidad
            , así como los 
            %strong Derechos, responsabilidades y obligaciones del usuario y equipo de la plataforma EDC Digital
            , pues constituyen una aceptación explícita (&quot;Contrato&quot;) entre usted (
            %strong Usuario
            ) ante los autores de EDC Digital además de contener información relevante respecto a tus derechos
            y obligaciones como usuario de nuestro servicios.
          %p.justificado   
            La aceptación de éstas formas se extienden a los distintos sitios que posee Distrito Emprendedor (
            %a{href: "www.edcdigital.mx"}
              www.edcdigital.mx
            , 
            %a{href: "www.edc-digital.com"}
              www.edc-digital.com
            , 
            %a{href: "www.edc.digital"}
              www.edc.digital
            , 
            %a{href: "www.edc-comercial.com"}
              www.edc-comercial.com
            , 
            %a{href: "www.edc-financiero.com"}
              www.edc-financiero.com
            ,
            %a{href: "www.emprendemegatendencias.com"}  
              www.emprendemegatendencias.com
            ) en adelante denominado 
            %strong Sitio Web 
            y cualesquiera de los sitios operados operados bajo la marca EDCdigital o Emprendiendo desde Cero) en relación a los servicios que presta por el uso de la Página Web y Plataforma Web denominados conjuntamente Servicios así como los Programas, Exámenes, Artículos y Tareas denominadas conjuntamente 
            %strong Contenido. 
            En adelante para referirse al 
            %strong Sitio Web, Contenido y los Servicios 
            en conjunto se denominará como 
            %strong “Plataforma EDC” 
            ó 
            %strong “Plataforma EDC Digital”
          %p.justificado  
            El presente aviso se emite de conformidad y en términos de lo establecido por la Ley Federal de Protección a los Datos Personales en Posesión de los Particulares (“LFPDPPP”).
          %p.justificado 
            Cabe destacar que al usar nuestros Servicios, aceptas estar vinculado a éstos y 
            %strong el desconocimiento de lo aquí contenido no exime al usuario de responsabilidad ni excluye de alcance.
          %p.justificado   
            Los términos y condiciones pueden ser modificados, enmendados y/o derogados periódicamente sin una notificación previa, sin embargo podrás consultar la versión más reciente en 
            %a{href: "www.distritoemprendedor.com/terminos-de-servicio"}
              www.distritoemprendedor.com/terminos-de-servicio
            , además GONEXT, enviará por correo electrónico una copia de los 
            %strong Términos y Condiciones 
            cuando sean actualizados, mismos que se tendrán por aceptados de conformidad a los supuestos descritos.
          %h4.mb8.mt32    
            Sobre Indemnización
          %p.justificado 
            Aceptas indemnizar, defender y librar de toda responsabilidad a los autores de la metodología vinculada a EDC Digital de cualquier reclamación, responsabilidad, gasto y daño, incluyendo los honorarios y costos de abogados, realizados por terceras partes relacionados con: (a) el uso o intento de uso de los Servicios que violen estos Términos; (b) la violación, por tu parte, de cualquier ley o derechos de cualquier tercera parte (c) cualquier reclamación de infracción o de apropiación indebida de la propiedad intelectual o de otros derechos de propiedad.
          %p.justificado   
            Como usuario registrado de nuestros Servicios aceptas los términos y condiciones aquí contenidos. Reconoces la formalidad de este escrito y el alcance de las obligaciones aquí dispuestas a pesar de que sean de naturaleza digital.