- content_for :title do
  Términos de Servicio - EDCdigital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
  %section.demo-bg-section.p-b-15.p-t-30.panel-title-acerca
    .container-fluid
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row.col-md-12
          .col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
            %h2.text-white 
              Términos de servicio
          .col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
            %h5.text-white
              Términos de servicio de EDC. Última actualización: 28 de Octubre de 2016.
            %p.m-b-25.text-white
              En esta sección podrás revisar los términos y condiciones que aceptas al registrarte como usuario de la plataforma de EDC Digital. !No olvides leer esta valiosa información!

.container-fluid.container-fixed-lg
  .row
    .col-sm-12
      .panel.panel-transparent
        .panel-body
          %p
            Bienvenido a EDCdigital.mx donde capacitamos y empoderamos a emprendedores Mexicanos. Distrito Emprendedor es una marca que promueve el emprendimiento a través de cursos y capacitaciones, operada en materia web y medios digitales a través de GONEXT S.A. de C.V. En lo sucesivo encontrarás los Términos y Condiciones aplicables a todos los Usuarios y Usuarios Registrados a esta Página Web.
          %p
            FAVOR DE LEER LOS SIGUIENTES TÉRMINOS Y CONDICIONES DE SERVICIO (en lo sucesivo TYC) PUES CONTIENEN INFORMACIÓN DE CONTUNDENCIA RESPECTO A TUS DERECHOS Y OBLIGACIONES COMO USUARIO; EL DESCONOCIMIENTO DE LO AQUÍ CONTENIDO NO TE EXIME DE RESPONSABILIDAD NI EXCLUYE DE ALCANCE.
          %p
            En lo sucesivo encontrarás los términos y condiciones que aceptas al efectuar las siguientes acciones: Al (i) Registrarte como Usuario; tomando en consideración lo dispuesto por el artículo 1803 del Código Civil federal, los presentes Términos y Condiciones son consentidos de forma tácita en el entendido que de conformidad al citado artículo “ El consentimiento puede ser expreso o tácito, para ello se estará a lo siguiente: I.- Será expreso cuando la voluntad se manifiesta verbalmente, por escrito, por medios electrónicos, ópticos o por cualquier otra tecnología, o por signos inequívocos, y II.- El tácito resultará de hechos o de actos que lo presupongan o que autoricen a presumirlo, excepto en los casos en que por ley o por convenio la voluntad deba manifestarse expresamente” Por lo que en el entendido de que lleves a cabo la generación de un Usuario Registrado será suficiente para que tu consentimiento sea de forma expresa y el uso de la Página Web será una manifestación tácita de tu consentimiento.
          %h4
            1. Personalidad, Domicilio, Descripción y Ámbito del Servicio.
          %p
            (i) GONEXT S.A. de C.V. es una Sociedad Anónima de Capital Variable (ii) con domicilio en Calle Retorno 1 #208, Colonia Empleado SFEO, C.P. 64909, Monterrey, N.L., (iii) que opera los servicios prestados por conducto de la Página Web (iv) en donde están expresos los cursos, talleres, conferencias y capacitaciones que se imparten a través de la marca Distrito Emprendedor.
          %p
          %h4 2. General
          %p
            a. Estos TYC le son aplicables a todos los Usuarios Registrados.
            b. Los términos y condiciones podrán ser modificados, enmendados y/o derogados periódicamente sin notificación previa, la versión más reciente podrá ser verificada en www.distritoemprendedor.com/terminos-de-servicio, igualmente, GONEXT, enviará periódicamente por correo electrónico una copia de los términos y condiciones actualizados, mismos que se tendrán por aceptados de conformidad a los supuestos descritos.
            c. El Usuario Registrado, acepta todos los términos de privacidad, seguridad y reglamentos de Distrito Emprendedor.
          %h4 3. Aceptación de los términos de condición.
          %p
            a. El Usuario Registrado acepta los términos y condiciones aquí contenidos.
            b. Los TYC son consentidos al momento de generar un Usuario Registrado.
            c. El Usuario Registrado reconoce la formalidad de este escrito y el alcance de las obligaciones a pesar de que sean de naturaleza digital.
          %h4 4. Términos y Condiciones de Uso
          %p
            a. El Usuario reconoce que el uso de la Página Web no le otorga ningún derecho de propiedad sobre la misma, cualquiera de sus elementos o Contenidos así como ninguno de los derechos de explotación que existen o puedan existir sobre la Página Web o los Contenidos.
            b. Todos Contenidos son propiedad de GONEXT o de terceros colaboradores, sin que pueda entenderse que el uso o acceso a la Página Web, le atribuyan al Usuario derecho alguno sobre los mismos.
            c. Los Contenidos y/o la Página Web no pueden ser copiados, reproducidos, republicados, enviados, transmitidos, transcritos, traducidos, almacenados, alterados, descargados o distribuidos en ningún medio inventado o por inventar, ni por ningún motivo.
            d. El Usuario se obliga a no utilizar técnicas de ingeniería inversa, descompilación, o desensamblaje, ni podrá modificar, traducir la Página Web, toda vez que el mismo goza de la protección que las leyes y tratados de propiedad industrial e intelectual establecen.
            e. Toda uso no autorizado de la Página Web en virtud de estos TYC pueden traer como consecuencias las sanciones aquí contenidas y las contempladas por el marco legal vigente.
            f. Los Contenidos y consejos expresados en la Página Web deben entenderse como orientativos; por lo que GONEXT no responde de ninguna forma de la efectividad o exactitud de los mismos, quedando exenta de cualquier responsabilidad contractual o extracontractual con el Usuario.
          %h4 5. Deslinde de responsabilidad
          %p
            GONEXT no se hace responsable por cancelación de eventos.
            GONEXT no se hace responsable de ningún costo, daño o perjuicio que se ocasione por acciones derivadas de la consultoría, mentoría e información en general de los cursos y capacitaciones.
            Toda la información manejada en los cursos y talleres es meramente en forma de consejos y sugerencias, por lo que GONEXT no se hace responsable por daños o pérdidas generadas a partir de atender a estos consejos y sugerencias.
          %h4 6. Datos Personales
          %p
            Los datos provistos por los Usuarios serán tratados de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, por lo anterior, al aceptar estos términos y condiciones aceptas nuestro Aviso de Privacidad: www.distritoemprendedor.com/politica-de-privacidad. La confidencialidad de los datos está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas, para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida.
