- content_for :title  do
	Mensajes enviados - EDC Digital

.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-30.panel-title-ayuda
		.container-fluid
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row.col-md-12
					.col-sm-4.col-md-4.no-padding.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							=current_user.mentor? ? 'Mensajes con tus estudiantes' : 'Mensajes con tus profesores'
					.col-sm-8.col-md-8.no-padding.resp-p-l-50.xs-p-l-15.xs-p-r-15
						%h5.text-white
							Sección:
						%h3.m-b-20.text-white
							Mensajes enviados

.container-fluid.container-fixed-lg.m-t-20
	.row
		.col-sm-12
			.panel.panel-transparent
				.pabel-body
					= render partial: 'mailbox/folder_view', locals: {is_conversation: false, messages:@sent, status: false}
