.container-fluid.container-fixed-lg.top-container-padding.minus-30
	%section.demo-bg-section.p-b-15.p-t-15.panel-title-ayuda
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				.row
					.col-sm-12.col-md-12.no-padding.xs-p-l-15.xs-p-r-15
						%h2.text-white 
							Enviados

.container-fluid.container-fixed-lg.m-t-20
	.row
		.col-sm-12
			.panel.panel-transparent
				.pabel-body
					= render partial: 'mailbox/folder_view', locals: {is_conversation: false, messages:@sent, status: false}
