.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.handle-sort {
  color: #777;
  cursor: move;
}

.extra-bottom-4 {
	margin-bottom: 4px;
}

.image-width-100 {
	width: 100%;
}

.normal-weight {
	font-weight: normal;
}

.minus-30 {
	position: relative;
	top: -30px;
}