- content_for :title  do
	= title_text_helper("Analíticos de grupo")

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			.row
				.col-sm-12
					.panel-title
						Panel de analíticos
		.panel-body
			.row
				.col-sm-12
					%h4 Estudiantes evaluados en: #{@program.name}
					=column_chart @grafica