- content_for :title  do
	Analíticos de grupo - EDC Digital

.container-fluid.container-fixed-lg
	.panel.panel-default
		.panel-heading
			%h4 Alumnos asignados a cada mentor			
		.panel-body
			%table.table
				%thead
					%tr
						%th Mentor
						%th.text-center Alumnos asignados
				%tbody
					- @mentors.each do |mentor|
						%tr
							%td.bold=mentor.name
							%td.text-center=mentor.linked_students
					%tr.warning
						%td.bold En blanco*
						%td.text-center=@enblanco	
					%tr.info
						%td.bold Total*:
						%td.text-center.bold=@total
			%center
				= paginate @mentors 			