- content_for :title  do
  Analíticos de grupo - EDC Digital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      %center
        .progress-section
          %h3
            Progreso
            %span.job-progress
              0%
          .progress
            .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progres    sbar", :style => "width:0%"}
  .panel.panel-default        
    .panel-heading
      %h4 Alumnos evaluados
    .panel-body
      .row
        %table.table.colored-columns.m-t-0
          %thead.static-heads
            %tr
              %th.padding-0.border-none.bold
                .cell-like Programa
              %th.padding-0.border-none.bold
                .cell-like Total de alumnos
              %th.padding-0.border-none.bold
                .cell-like  Evaluaciones realizadas
              %th.padding-0.border-none.bold
                .cell-like  Evaluaciones pendientes   
          %tbody#total_alumnos_program
            %tr
              %td.text-center{colspan: 4}  
                %i.fa.fa-spinner.fa-spin

                     
    .panel-heading
      %h4 Puntajes de todos los alumnos evaluados *
    .panel-body
      .row
        %table.table.colored-columns.m-t-0
          %thead.static-heads
            %tr
              %th.text-center
                Programa
              %th.padding-0.border-none.bold.text-center
                .cell-like 90% - 100%
              %th.padding-0.border-none.bold.text-center
                .cell-like  80% - 89%
              %th.padding-0.border-none.bold.text-center
                .cell-like  60% - 79%   
              %th.padding-0.border-none.bold.text-center
                .cell-like  0% - 59%
              %th.padding-0.border-none.bold.text-center
                .cell-like  Total:              

          %tbody#total_alumnos_program_rango
            %tr
              %td.text-center{colspan: 6}  
                %i.fa.fa-spinner.fa-spin
      .row
        .col-md-12
          %i * En el puntaje solo se toman en cuenta las rúbricas evaluadas en los programas
:javascript
  $(document).on('turbolinks:load', function(){
    var interval = setInterval(function(){
      $.get("/api/v1/async_jobs/#{@job_id}")
      .done(function(job){
        console.log(job);
        var progress = parseInt((job.progress * 100) / job.total);

        $('.job-progress').html(progress + '%');
        $('.progress-bar').css('width', progress + '%');
        if(progress == 100) {
          clearInterval(interval);
          $('#total_alumnos_program').html('');
          job.total_alumnos_program.forEach(function (program) {
            var row = "<tr>" +
              "<td class='bold'>" + program["program_name"] + "</td>" +
              "<td class='text-center'>" + program["alumnos"] + "</td>" +
              "<td class='text-center'>" + program["evaluados"] + "</td>" +
              "<td class='text-center'>" + program["no_evaluados"] + "</td>" +
            "</tr>";
            console.log("fhdskhfdsjk");
            $('#total_alumnos_program').append(row);
          });

          $('#total_alumnos_program_rango').html('');
          job.total_alumnos_program_rango.forEach(function (program) {
            var total = program["total_100_90"] + program["total_89_80"] + program["total_79_60"] + program["total_59_0"]
            var row = "<tr>" +
              "<td class='bold'>" + program["program_name"] + "</td>" +
              "<td class='text-center'>" + program["total_100_90"] + "</td>" +
              "<td class='text-center'>" + program["total_89_80"] + "</td>" +
              "<td class='text-center'>" + program["total_79_60"] + "</td>" +
              "<td class='text-center'>" + program["total_59_0"] + "</td>" +
              "<td class='text-center'>" + total + "</td>" +
            "</tr>";
            console.log("fhdskhfdsjk");
            $('#total_alumnos_program_rango').append(row);
          });
        } 
      
      })
      .fail(clean)
    }, 1000);

    function clean(){
      clearInterval(interval);
    }
  });                                            
