- content_for :title  do
  Rellenables - EDCdigital

.container-fluid.container-fixed-lg
  .panel.panel-default
    .panel-body
      .tab-content
        #tab1.tab-pane.padding-20.sm-no-padding.active.slide-left
          .row.row-same-height
            .col-md-4.b-r.b-dashed.b-grey.sm-b-b
              .p-r-30.p-l-30.p-b-30.p-t-15.sm-padding-5.sm-m-t-15
                %i.fa.fa-eye.fa-2x.hint-text
                .h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
                  = @template_refilable.name
                %p
                  = @template_refilable.description
            .col-md-7
              .p-r-30.p-l-30.p-b-30.p-t-0.sm-padding-5.sm-m-t-15
                .table-responsive.table-invoice
                  %table.table.m-t-0
                    %thead
                      %tr
                        %th 
                          Texto del rellenable
                          %p.small.m-b-0
                            El estudiante debe escribir sus respuestas en los espacios vacíos en el texto.
                    %tbody
                      %tr
                        %td.p-b-30
                          #refilable-content-template
                            = raw remove_class(replace_fillable(@template_refilable.content))
