- content_for :title  do
  = title_text_helper("Nuevo m칩dulo")

.container-fluid.container-fixed-lg
  .row.panel.panel-default
    .p-t-50
      .col-md-4
        .panel-heading
          .panel-title
            Crear un m칩dulo nuevo
        .panel-body
          %i.fa.fa-plus.fa-2x.hint-text
          .h3.m-t-20.segoe-font
            Usa este formulario para crear un m칩dulo
          %p.m-b-30.segoe-font
            Este elemento pertenecer치 al programa de 
            "#{@program.name}"
      .col-md-8
        .panel-body
          = render 'form'

