- content_for :title  do
  Agregar rellenable - EDCdigital

.container
  %h2.text-center
    Agregar rellanable
    
  = render 'form'

  /.pull-right
  /= link_to "Crea un rellenable nuevo",  new_template_refilable_path,  {class: "btn btn-primary", target: "_blank"}
