- content_for :title  do
  = title_text_helper("Agregar plantilla")

.container
  %h2.text-center
    Agregar plantilla
    
  = render 'form'

  /.pull-right
  /= link_to "Crea una plantilla nuevo",  new_template_refilable_path,  {class: "btn btn-primary", target: "_blank"}
