- content_for :title  do
  Edita esta pregunta

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title
            ¿Cuál será la nueva pregunta?
        .panel-body
          = render 'form'