- content_for :title  do
  Nueva Categoría

.container-fluid.container-fixed-lg
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          .panel-title
            ¿Cuál será la nueva categoría?
        .panel-body
          = render "form"
