.panel .panel-body.p0{
	padding: 0 0 0 0;
	margin: 0;
}
.default-leido{
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.default-no-leido{
	background-color:#EAF2F8;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
img.leida{
	padding:10px;
	margin-top: 10px;
	width: 64px;
	height:64px;
}
p.name{
	color:#4965a0;
	font-weight:bold;
	margin-top:2.5%;
	display:inline-block;
}
small.asunto{
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	margin-left: 5%;
	display: inline-block;
}
p.text-asunto{
	color:#616161;
	font-size:14px;
	display:inline-block;
	text-align:center;
	margin-left:1%;
}
small.fecha{
	float:right;
	color:#616161;
	margin-top:2%;
	padding:5px;
	margin-right:3%;
}
p.mensaje{
	padding:5px;
}
.border-bottom{
	border-color:#ccc;
	border-width:thin; 
	width:100%;
	margin-left:0;
}

@media (max-width: 360px) {
	p.name{
		display: block;
		margin-bottom: 0;
	}
	small.asunto{
		font-size: 11px;
		font-weight: bold;
		font-style: italic;
		margin-left: 1%;
		display: inline-block;
	}
	p.text-asunto{
		margin-bottom: 0;
	}
	p.mensaje{
		padding:5px;
	}
	small.fecha{
		width: 100%;
		margin: 0 auto;
		padding: 0;
		float: left;
	}
	.border-bottom{
		width: 109%;
		margin-left:-5%;
	}
	img.leida{
		margin-top: 15px;
	}
	.default-no-leido{
		background-color:#EAF2F8;
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
	}
}
