.panel .panel-body.p0{
  padding: 0 0 0 0;
  margin: 0;
}
.default-leido{
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.default-no-leido{
  background-color:#EAF2F8;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
img.leida{
  padding:10px;
  margin-top: 10px;
  width: 64px;
  height:64px;
}
p.name{
  color:#4965a0;
  font-weight:bold;
  margin-top:2.5%;
  display:inline-block;
}
small.asunto{
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  margin-left: 5%;
  display: inline-block;
}
p.text-asunto{
  color:#616161;
  font-size:14px;
  display:inline-block;
  text-align:center;
  margin-left:1%;
}
small.fecha{
  float:right;
  color:#616161;
  margin-top:2%;
  padding:5px;
  margin-right:3%;
}
p.mensaje{
  padding:5px;
}
.border-bottom{
  border-color:#ccc;
  border-width:thin; 
  width:100%;
  margin-left:0;
}

@media (max-width: 360px) {
  p.name{
    display: block;
    margin-bottom: 0;
  }
  small.asunto{
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-left: 1%;
    display: inline-block;
  }
  p.text-asunto{
    margin-bottom: 0;
  }
  p.mensaje{
    padding:5px;
  }
  small.fecha{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: left;
  }
  .border-bottom{
    width: 109%;
    margin-left:-5%;
  }
  img.leida{
    margin-top: 15px;
  }
  .default-no-leido{
    background-color:#EAF2F8;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
  }
}

/* #### CONVERSACION #### */
.eliminar{
  padding: 30px;
}
.conversacion{
  width: 80px;
  height: 80px;
  margin-top: 5%;
}
.trans{
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  opacity: 0.9;
  border: 0 solid #ccc;
  padding: 10px;
}
.l{
  margin-left: 1.5%;
}
.r{
  margin-right: 1.5%;
}
.t-l:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eee transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12%;
  margin-top: -17%;
}
.t-r:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #eee transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 86%;
  transform : rotate(180deg);
  margin-top: -17%;
}
.t-a{
  height:90px; 
  background-color:white; 
  width:100%;
}
.adjuntar{
  margin-top: 20px;
}



@media (min-width: 1001px) and (max-width: 1201px){
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13.6%;
    margin-top: -22%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 83.8%;
    transform : rotate(180deg);
    margin-top: -22%;
  }
}

@media (min-width: 992px) and (max-width: 1000px){
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13.4%;
    margin-top: -22%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 82.9%;
    transform : rotate(180deg);
    margin-top: -22%;
  }
}

@media only screen and (max-width: 745px) {
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12.3%;
    margin-top: -22%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 84.8%;
    transform : rotate(180deg);
    margin-top: -22%;
  }
}

@media only screen and (max-width: 700px) {
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13.4%;
    margin-top: -22%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 83.6%;
    transform : rotate(180deg);
    margin-top: -22%;
  }
}

@media only screen and (max-width: 650px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8%;
    margin-top: -25%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 88.6%;
    transform : rotate(180deg);
    margin-top: -28%;
  }
}

@media only screen and (max-width: 600px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9%;
    margin-top: -28%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 87.4%;
    transform : rotate(180deg);
    margin-top: -31%;
  }
}

@media only screen and (max-width: 550px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: -32%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 85.8%;
    transform : rotate(180deg);
    margin-top: -34%;
  }
}

@media only screen and (max-width: 500px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11%;
    margin-top: -32%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 84%;
    transform : rotate(180deg);
    margin-top: -35%;
  }
}

@media only screen and (max-width: 450px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13%;
    margin-top: -35%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 82%;
    transform : rotate(180deg);
    margin-top: -35%;
  }
}

 @media only screen and (max-width: 400px) {
    img.conversacion{
    width: 45px;
    height: 45px;
    margin-top: 15px;
  }
  .l{
    padding: 5px;
  }
  .r{
    padding: 5px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15%;
    margin-top: -35%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 79%;
    transform : rotate(180deg);
    margin-top: -35%;
  }
}

@media only screen and (max-width: 360px) {
  img.conversacion{
    width: 25px;
    height: 25px;
    margin-top: 35px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9%;
    margin-top: -35%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 86%;
    transform : rotate(180deg);
    margin-top: -35%;
  }
}

@media only screen and (max-width: 320px) {
  img.conversacion{
    width: 25px;
    height: 25px;
    margin-top: 25px;
  }
  .trans{
    padding: 3px;
  }
  .t-l:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: -40%;
  }
  .t-r:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #eee transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 83%;
    transform : rotate(180deg);
    margin-top: -40%;
  }
}

/* <<<<<< CARDS PROGRAMAS >>>>> */
.color__icon{
  color: #B32769;
  font-size: 13px;
}
.color__icon_program{
  color: #B32769;
  font-size: 11px; 
}
.font-search{
  background-color: #B32769 !important;
}
.text_ultimos_avances{
  color: #B32769 !important;
}
.opacity1{
  opacity: 0.4;
  font-size: 11px;
  margin-left: 10px;
}
.opacity2{
  opacity: 0.6;
  font-size: 11px;
}
.opacity3{
  opacity: 0.8;
  font-size: 11px;
}
.opacity4{
  opacity: 1;
  font-size: 11px;
}
#wrapper {
  /*background: #69225C;*/
  overflow: hidden;
  transition: height 200ms cubic-bezier(0.2, 0.4, 0.7, 0.8);
}
.inline-block{
  display: inline-block;
}
#collap{
  cursor: pointer;
}
#ver_collap{
  display: none;
}
.ver{
  text-align: center;
}
.card.share .cabecera_card-programas h5 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  line-height: 22.7px;
  font-family: arial;
  letter-spacing: -0.006em;
  margin-top: -3px;
}
h6.cabecera_card-programas {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  font-family: arial;
  letter-spacing: -0.006em;
  margin-top: -3px;
}
.cabecera_card-programas{
  padding: 15px 15px 12px;
}
.card_height{
  height: 200px;
}
.none-width{
  width: 0px !important;
  padding: 0px !important;
}
.m-t-name_card{
  margin-top: 115px !important;
}
.text-top-name_card{
  font-style: italic;
  font-size: 20px;
}
.p-m_style{
  padding-left: 14px !important;
}
.min-height{
  min-height: 10px;
}
.text_mostrar-ocultar_info{
  font-style: italic;
  font-size: 10px;
}
.font-size-play{
  font-size: 10px;
}
.style_img_card{
  background-repeat: no-repeat  !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-size: cover !important; 
}
.text-color-dificultad{
  color: #B32768;
}
.m-t--card{
  margin-top: 80px;
}
.m-b-3{
  margin-bottom: 3px;
}
.m-t--10{
  position: relative;
  margin-top: -26px;
}
.super-card-container {
  height: 330px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.m-b-14{
  margin-bottom: 14px;
}
.m-t-3{
  margin-top: -15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.opacity_05{
  opacity: 0.5;
}
.m-h-50{
  min-height: 50px;
}
.panel-heading.p-m_style.p-b-0.m-b-14.m-b-3.new-margin {
  padding-top: 8px;
  margin-bottom: 10px;
}

/* <<<<< RUTA DE APRENDIZAJE >>>>>> */
.timeline::before{
  background: #757575 !important;
}
.none-width{
  width: 0px !important;
}
.new-p-btn{
  padding-bottom: 3px;
}
.contenedor-btn-barra{
  position: absolute;
  bottom: 10px;
  width: 90%;

}
@media only screen and (max-width: 360px){
  .contenedor-btn-barra{
    bottom:12px;
  }
}
/*@media only screen and (min-width: 1075px) and (max-width: 1085px){
  .contenedor-btn-barra{
    bottom:0px;
  }
}*/
.text-tipo-card-ruta{
  color: #B32768;
  font-style: italic;
  margin-bottom: 0px;
}
.text-name-ruta{
  color: #B32769;
  line-height: 1.2;
  font-size: 17px;
  margin-top: 5px
}
.style-icono-collapse{
  position: absolute !important;
  top: 30px !important;
  right: -10px !important;
}
.text-contestado{
  font-size: 12px;
}
@media only screen and (min-width: 396px) and (max-width: 975px){
 .style-icono-collapse{
    top: 40px !important;
 } 
}
@media only screen and (min-width: 987px) and (max-width: 1078px){
 .style-icono-collapse{
    top: 10px !important;
 } 
}
.height-0{
  height: 0 !important;
  min-height: 0 !important;
  top: 45px;
  right: -13px;
  padding: 0 !important;

}
@media only screen and (min-width: 768px) and (max-width: 960px){
 .height-0{
  top: 45px;
 } 
}
@media only screen and (min-width: 977px) and (max-width: 986px){
 .height-0{
  top: -30px;
 } 
}
.inline-i{
  /*display: initial !important;*/
  
}
.new-width-card{
  width: 106% !important;
}
@media only screen and (max-width: 360px){
  .new-width-card{
    width: 100% !important;
  }
}
@media only screen and (min-width: 977px) and (max-width: 1077px){
  .new-width-card{
    width: 120% !important;
  }
}
.height-img{
  height: 205px !important;
}
.card.share .cabecera_card-programas h5 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  line-height: 22.7px;
  font-family: arial;
  letter-spacing: -0.006em;
  margin-top: -3px;
}
h6.cabecera_card-programas {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  font-family: arial;
  letter-spacing: -0.006em;
  margin-top: -3px;
}
.cabecera_card-programas{
  padding: 15px 15px 12px;
}
.card_height{
  height: 200px;
}
.none-width{
  width: 0px !important;
  padding: 0px !important;
}
.m-t-name_card{
  margin-top: 115px !important;
}
.text-top-name_card{
  font-style: italic;
  font-size: 20px;
}
.p-m_style{
  padding-left: 14px !important;
}
.min-height{
  min-height: 10px;
}
.text_mostrar-ocultar_info{
  font-style: italic;
  font-size: 10px;
}
.font-size-play{
  font-size: 10px;
}
.style_img_card{
  background-repeat: no-repeat  !important;
  background-position-x: center !important;
  background-position-y: center !important;
  background-size: cover !important; 
}
.height-col-md-6{
  height: 205px !important;
}
.m-t-185{
  margin-top: 185px !important;
}
@media only screen and (max-width: 1000px){
  .m-t-185{
    margin-top: 0px !important;
  }
}
.m-l-24{
  margin-left: 24px !important;
}
.float-right{
  float: right;
}
.float-left-botones{
  float: left;
  position: absolute;
  top: 145px
}
.new-p-b{
  padding: 5px !important;
}
.text-frase{
  line-height: 1.3;
  font-size: 12px;
  
}

.opacity_new{
  opacity: 0.5;
  font-size: 10px;
}

.line-horizontal::after, .line-horizontal::before {
    border-bottom: 2px solid #757575;
    bottom: 50%;
    content: "";
    margin: 0 10px;
    position: absolute;
    width: 100%;
}

.line-horizontal::before {
    left: -60px;
}

.line-horizontal::after {
    right: -60px;
}

.arrow_box:after {
  left: 100%;
  top: 12%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #757575;
  border-width: 15px;
  margin-top: -15px;
}
@media only screen and (min-width: 320px) {

  .timeline-block .timeline-content.is-hidden {
    visibility: hidden;
  }
  .timeline-block .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
