.header .bubble {
  border-radius: 30%;
  height: 14px;
  width: 22px;
  background-color: rgba(226, 32, 91, 0.85);
  color: #fff;
  position: relative;
  top: -6px;
  float: right;
  right: -10px;
}
.number-inside-bubble-9 {
  position: relative;
  top: -8px;
  left: 7px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-20 {
  position: relative;
  top: -8px;
  left: 4px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-m20 {
  position: relative;
  top: -9px;
  left: 1px;
  font-size: 7px;
  font-weight: bold;
  font-family: Verdana;
  text-align: left;
 }
.icon-set-2.globe-fill {
  background-position: -1px -1px;
  width: 17px;
  height: 17px;
  top: 2px;
}

