.header .bubble {
  border-radius: 30%;
  height: 14px;
  width: 22px;
  background-color: rgba(226, 32, 91, 0.85);
  color: #fff;
  position: relative;
  top: -6px;
  float: right;
  right: -10px;
}
.number-inside-bubble-9 {
  position: relative;
  top: -8px;
  left: 7px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-20 {
  position: relative;
  top: -8px;
  left: 4px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-m20 {
  position: relative;
  top: -9px;
  left: 1px;
  font-size: 7px;
  font-weight: bold;
  font-family: Verdana;
  text-align: left;
 }
.icon-set-2.globe-fill {
  background-position: -1px -1px;
  width: 17px;
  height: 17px;
  top: 2px;
}

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.boton-buscar {
  height: 28px;
  position: relative;
  top: -1px;
}
.rating {
  border: none;
  float: left;
  position: relative;
  bottom: 2px;
}

.learning-img{
  margin-top:15px;
  margin-bottom:15px
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-small{
  width: 45px !important;
  height: 24px !important;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-small:before {
  height: 17px !important;
  width: 17px !important;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider.slider-small:before {
  -webkit-transform: translateX(20px) !important;
  -ms-transform: translateX(20px) !important;
  transform: translateX(20px) !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hintish{
  color: #D8DADC;
}

input[type='checkbox'].double-sized-checkbox {
  zoom: 1.5;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

label.zoomed-checkbox {
  font-size: 13px !important;
  position: relative;
  top: 4px;
  left: 12px;
}

.card.share .card-header.no-hover{
  cursor: auto;
}

.lightblue-background{
  background-color: #daeffd;
}

.card-titles{
  font-size: 14px;
  margin: 0;
  font-family: Montserrat;
  letter-spacing: -0.006em;
  margin-top: -3px;
  font-weight: bold;
  color: #2c2c2c;
}

.total-opacity{
  opacity: 1 !important;
}

.font-comments p{
  font-size: 12.5px !important;
}

.card-header-like-row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 30px 10px 30px;
}

.card-header-like-text {
  font-family: montserrat;
  font-size: 11px;
  font-weight: 501 !important;
  letter-spacing: .06em;
}

.h-basetext {
  margin: 10px 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #2c2c2c;
}

.center-div{
  display: table;
  margin: 0 auto;
}

.scroll-div > div {
  overflow: scroll;
}

.scrolling {
  overflow: scroll;
}

.conversation-titles{
  padding: 15px 15px 10px 0px;
}

.respond-btn-m{
  margin-bottom: 10px !important;
  margin-top: 15px !important;
}

.refilables-img img {
  width: 100%;
}

/* ********** Celulares Pequeños ********** */
@media screen and (max-width: 320px) {
  .sm-cell {

  }
  .sm-cell-prl15{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .sm-cell-none{
    display: none;
  }
  .contenidos-cuadro img {
    width: 250px;
  }
  .sm-cell-none{
    display: none;
  }
  .sm-cell-block{
    display: block;
  }
  .nav-tabs li a {
    font-size: 9px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sm-cell-fsize-9{
    font-size: 9px !important;
  }
  .sm-cell-fsize-105{
    font-size: 10.5px;
  }
  .refilable-input {
    width: 185px !important;
  }
}

/* ********** Celulares Medianos ********** */
@media screen and (max-width: 424px) and (min-width: 321px) {
  .md-cell {

  }
  .nav-tabs li a {
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sm-cell-prl15{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .md-cell-none{
    display: none;
  }
  .md-cell-block{
    display: block;
  }
  .contenidos-cuadro img {
    width: 300px;
  }
  .md-cell-fsize-105{
    font-size: 10.5px;
  }
  .refilable-input {
    width: 200px !important;
  }
}

/* ********** Celulares Grandes ********** */
@media screen and (max-width: 767px) and (min-width: 425px) {
  .lg-cell {

  }
  .contenidos-cuadro img {
    width: 400px;
  }
}

/* ********** Todos los Celulares ********** */
@media screen and (max-width: 480px) {
  .cell-ml0{
    margin-left: 0px;
  }
  .cell-ml5{
    margin-left: 5px;
  }
  .cell-mt0{
    margin-top: 0px !important;
  }
  .cell-mt5{
    margin-top: 5px;
  }
  .cell-mt10{
    margin-top: 10px;
  }
  .cell-mt15{
    margin-top: 15px !important;
  }
  .cell-mb5{
    margin-bottom: 5px;
  }
  .cell-mb10{
    margin-bottom: 10px !important;
  }
  .cell-pt5{
    padding-top: 5px;
  }
  .cell-pt10{
    padding-top: 10px;
  }
  .cell-pt15{
    padding-top: 15px !important;
  }
  .cell-pt20{
    padding-top: 20px;
  }
  .cell-pb5{
    padding-bottom: 5px;
  }
  .cell-pb10{
    padding-bottom: 10px;
  }
  .cell-pb15{
    padding-bottom: 15px;
  }
  .cell-pb20{
    padding-bottom: 20px !important;
  }
  .cell-pr5{
    padding-right: 5px;
  }
  .cell-blockbtn button, .cell-blockbtn a {
    display: block;
    margin-bottom: 5px;
  }
  .cell-blockbtn button.top-btn, .cell-blockbtn a.top-btn {
    margin-top: 10px;
  }
  .cell-block {
    display: block;
  }
  .cell-unfloat {
    float: none !important;
  }
  .cell-none {
    display: none;
  }
  .cell-w100p{
    min-width: 100%;
  }
  .viewport-fix .modal-content{
    width: 95vw;
  }
  .h-title-content{
    font-size: 18px;
    line-height: 23px;
  }
  .h-3{
    font-size: 19.5px;
    line-height: 30px;
  }
  .cell-center-div{
    display: table;
    margin: 0 auto;
  }
  .h-group-title {
    font-size: 22px;
    line-height: 30px;
  }
}

/* ********** De Celulares Pa'Arriba ********** */
@media screen and (min-width: 481px) {
  .cell-up-ml5{
    margin-left: 5px;
  }
  .cell-up-pr5{
    padding-right: 5px;
  }
}

/* ********** De Celulares Pa'Abajo ********** */
@media screen and (max-width: 767px) {
  .cell-down-pr15{
    padding-right: 15px;
  }
  .cell-down-pl0{
    padding-left: 0px;
  }
  .cell-down-pl15{
    padding-left: 15px;
  }
  .cell-down-pr30{
    padding-right: 30px;
  }
  .cell-down-pl30{
    padding-left: 30px;
  }
  .cell-down-mt30 {
    margin-top: 30px;
  }
  .cell-down-unfloat {
    float: none !important;
  }
  .cell-down-none {
    display: none;
  }
  .padding-population {
    padding: 30px 30px 10px 15px;
  }
  .question-btn-padding{
    padding-top: 0px !important;
    padding-bottom: 30px !important;
  }
  .td-program-labels {
    min-width: 350px;
  }
  .td-program-labels-wide {
    min-width: 420px;
    white-space: normal !important;
  } 
  .td-program-labels, .td-program-labels-wide .label { 
    float: left; 
    margin-right: 5px;
  }
  .td-program-labels, .td-program-labels-wide .label:nth-child(6) { 
    clear: left; 
  }
  .td-contained-text {
    min-width: 450px;
    white-space: normal !important;
  }
}

/* ********** De Tablets Pa'Abajo ********** */
@media screen and (max-width: 991px) {
  .tablet-down-block{
    display: block;
  }
  .tablet-down-pl10{
    padding-left: 10px;
  }
  .tablet-down-pl0{
    padding-left: 0px;
  }
  .tablet-down-pr0{
    padding-right: 0px;
  }
  .tablet-down-mb0{
    margin-bottom: 0px;
  }
  .tablet-down-mb5{
    margin-bottom: 5px;
  }
  .tablet-down-mb10{
    margin-bottom: 10px;
  }
  .tablet-down-mb20{
    margin-bottom: 20px;
  }
  .tablet-down-fs12{
    font-size: 12px;
  }
  .tablet-down-leftpull{
    float: left;
  }
  .quiz-result-message{
    padding: 30px;
  }
  .custom-width-card{
    width: 95% !important;
  }
  .custom-width-alert{
    width: 95% !important;
  }
  .p-refilable-content-box{
    padding: 20px 20px 30px 30px;
  }
  .widget-8, .widget-9, .widget-10{
    max-height: 150px;
  }
}

/* ********** De High Tablets Pa'Arriba ********** */
@media screen and (min-width: 992px) {
  .htablet-up-pr0{
    padding-right: 0px;
  }
  .htablet-up-pl0{
    padding-left: 0px;
  }
  .htablet-up-rightpull{
    float: right;
  }
  .quiz-result-message{
    padding: 30px;
    margin-top: 50px;
    padding-bottom: 100px;
  }
  .custom-width-card{
    width: 106% !important;
  }
  .p-refilable-content-box{
    padding: 20px 0px 30px 20px;
  }
  .h-group-title {
    font-size: 24px;
    line-height: 30px;
  }
}

/* ********** De Tablets Pa'Arriba ********** */
@media screen and (min-width: 768px) {
  .tablet-up-p30{
    padding: 30px;
  }
}

/* ********** Tablets ********** */
@media screen and (max-width: 991px) and (min-width: 481px) {
  .tablet-mt5{
    margin-top: 5px;
  }
  .tablet-mt10{
    margin-top: 10px;
  }
  .tablet-mt60{
    margin-top: 60px;
  }
  .tablet-mb5{
    margin-bottom: 5px;
  }
  .tablet-mb10{
    margin-bottom: 10px;
  }
  .tablet-pt5{
    padding-top: 5px;
  }
  .tablet-pt10{
    padding-top: 10px;
  }
  .tablet-pb5{
    padding-bottom: 5px;
  }
  .tablet-pb10{
    padding-bottom: 10px;
  }
  .tablet-unfloat {
    float: none !important;
  }
  .viewport-fix .modal-content{
    width: 100vw;
  }
  .h-title-content{
    font-size: 21px;
    line-height: 30px;
  }
  .h-3{
    font-size: 24px;
    line-height: 35.88px;
  }
  .h-group-title {
    font-size: 18px;
    line-height: 30px;
  }
}

/* ********** Laptops ********** */
@media screen and (max-width: 1280px) and (min-width: 992px) {
  .laptop {

  }
  .h-title-content{
    font-size: 28px;
    line-height: 40px;
  }
  .h-3{
    font-size: 24px;
    line-height: 35.88px;
  }
}

/* ********** Desktops ********** */
@media screen and (min-width: 1281px) {
  .desktop {

  }
  .h-title-content{
    font-size: 28px;
    line-height: 40px;
  }
  .h-3{
    font-size: 24px;
    line-height: 35.88px;
  }
}

/* ********** CUSTOMS: para imágenes de contenido ********** */
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .contenidos-cuadro img {
    width: 100%;
  }
  .explore-fsize li {
    font-size: 11px;
  }
}

/* ********** CUSTOMS: De 1024 Pa'Abajo ********** */
@media screen and (max-width: 1023px) {
  .slaptop-down-unfloat {
    float: none !important;
  }
  .slaptop-block{
    display: block;
  }
  .slaptop-none{
    display: none;
  }
}

.toggle-sidebar[data-toggle=sidebar]{
  touch-action: none;
}

/* ********** Table Responsive ********** */
@media screen and (max-width: 1150px) and (min-width: 768px) {
  .table-responsive .table {
    width: 1100px;
  }
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      overflow-x: scroll;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
}
