.header .bubble {
  border-radius: 30%;
  height: 14px;
  width: 22px;
  background-color: rgba(226, 32, 91, 0.85);
  color: #fff;
  position: relative;
  top: -6px;
  float: right;
  right: -10px;
}
.number-inside-bubble-9 {
  position: relative;
  top: -8px;
  left: 7px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-20 {
  position: relative;
  top: -8px;
  left: 4px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-m20 {
  position: relative;
  top: -9px;
  left: 1px;
  font-size: 7px;
  font-weight: bold;
  font-family: Verdana;
  text-align: left;
 }
.icon-set-2.globe-fill {
  background-position: -1px -1px;
  width: 17px;
  height: 17px;
  top: 2px;
}

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.boton-buscar {
  height: 28px;
  position: relative;
  top: -1px;
}
.rating {
  border: none;
  float: left;
  position: relative;
  bottom: 2px;
}

.learning-img{
  margin-top:15px;
  margin-bottom:15px
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-small{
  width: 45px !important;
  height: 24px !important;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-small:before {
  height: 17px !important;
  width: 17px !important;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider.slider-small:before {
  -webkit-transform: translateX(20px) !important;
  -ms-transform: translateX(20px) !important;
  transform: translateX(20px) !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hintish{
  color: #D8DADC;
}

input[type='checkbox'].double-sized-checkbox {
  zoom: 1.5;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

label.zoomed-checkbox {
  font-size: 13px !important;
  position: relative;
  top: 4px;
  left: 12px;
}

.card.share .card-header.no-hover{
  cursor: auto;
}

.lightblue-background{
  background-color: #daeffd;
}

.card-titles{
  font-size: 14px;
  margin: 0;
  font-family: Montserrat;
  letter-spacing: -0.006em;
  margin-top: -3px;
  font-weight: bold;
  color: #2c2c2c;
}

.total-opacity{
  opacity: 1 !important;
}

.font-comments p{
  font-size: 12.5px !important;
}

.card-header-like-row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 30px 10px 30px;
}

.card-header-like-text {
  font-family: montserrat;
  font-size: 11px;
  font-weight: 501 !important;
  letter-spacing: .06em;
}

/* Celulares Pequeños */
@media screen and (max-width: 320px) {
  .sm-cell {

  }
}

/* Celulares Medianos */
@media screen and (max-width: 425px) and (min-width: 321px) {
  .md-cell {

  }
}

/* Celulares Grandes */
@media screen and (max-width: 767px) and (min-width: 426px) {
  .lg-cell {

  }
}

/* Todos los Celulares */
@media screen and (max-width: 480px) {
  .cell-mt5{
    margin-top: 5px;
  }
  .cell-mt10{
    margin-top: 10px;
  }
  .cell-mb5{
    margin-bottom: 5px;
  }
  .cell-mb10{
    margin-bottom: 10px;
  }
  .cell-pt5{
    padding-top: 5px;
  }
  .cell-pt10{
    padding-top: 10px;
  }
  .cell-pb5{
    padding-bottom: 5px;
  }
  .cell-pb10{
    padding-bottom: 10px;
  }
  .cell-blockbtn button, .cell-blockbtn a {
    display: block;
    margin-bottom: 5px;
  }
  .cell-blockbtn button.top-btn, .cell-blockbtn a.top-btn {
    margin-top: 10px;
  }
  .cell-block {
    display: block;
  }
  .cell-unfloat {
    float: none !important;
  }
}

/* Tablets */
@media screen and (max-width: 991px) and (min-width: 481px) {
  .tablet-mt5{
    margin-top: 5px;
  }
  .tablet-mt10{
    margin-top: 10px;
  }
  .tablet-mb5{
    margin-bottom: 5px;
  }
  .tablet-mb10{
    margin-bottom: 10px;
  }
  .tablet-pt5{
    padding-top: 5px;
  }
  .tablet-pt10{
    padding-top: 10px;
  }
  .tablet-pb5{
    padding-bottom: 5px;
  }
  .tablet-pb10{
    padding-bottom: 10px;
  }
  .tablet-unfloat {
    float: none !important;
  }
}

/* Laptops */
@media screen and (max-width: 1280px) and (min-width: 992px) {
  .laptop {

  }
}

/* Desktops */
@media screen and (min-width: 1281px) {
  .desktop {

  }
}

