.header .bubble {
  border-radius: 30%;
  height: 14px;
  width: 22px;
  background-color: rgba(226, 32, 91, 0.85);
  color: #fff;
  position: relative;
  top: -6px;
  float: right;
  right: -10px;
}
.number-inside-bubble-9 {
  position: relative;
  top: -8px;
  left: 7px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-20 {
  position: relative;
  top: -8px;
  left: 4px;
  font-size: 8px;
  font-weight: normal;
  font-family: Verdana;
  text-align: center;
 }
 .number-inside-bubble-m20 {
  position: relative;
  top: -9px;
  left: 1px;
  font-size: 7px;
  font-weight: bold;
  font-family: Verdana;
  text-align: left;
 }
.icon-set-2.globe-fill {
  background-position: -1px -1px;
  width: 17px;
  height: 17px;
  top: 2px;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

