%table.full2{:align => "center", :bgcolor => "#303030", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: rgb(48, 48, 48);", :width => "100%"}
  %tbody
    %tr
      %td#not6{:align => "center", :style => "background-image: url('http://www.emprendiendodesdecero.com/edcdigital/images/not6_bg_image.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center center; background-repeat: no-repeat;"}
        / Mobile Wrapper
        %table.mobile2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr
              %td{:align => "center", :width => "100%"}
                .sortable_inner.ui-sortable
                  / Space
                  %table.full2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :width => "600"}
                    %tbody
                      %tr
                        %td{:height => "50", :width => "600"}
                  / End Space
                  / Space
                  %table.full2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :width => "600"}
                    %tbody
                      %tr
                        %td{:height => "50", :width => "600"}
                  / End Space
                  / Start Top
                  %table.mobile2{:align => "center", :bgcolor => "#4edeb5", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(159,17,91);", :width => "600"}
                    %tbody
                      %tr
                        %td.logo{:align => "center", :valign => "middle", :width => "600"}
                          / Header Text
                          %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                            %tbody
                              %tr
                                %td{:height => "15", :width => "100%"}
                              %tr
                                %td{:width => "100%"}
                                  %span
                                    %img{:alt => "", :border => "0", :src => "http://www.emprendiendodesdecero.com/edcdigital/images/logo-edc-blanco.png", :width => "130"}/
                              %tr
                                %td{:height => "15", :width => "100%"}
                / Mobile Wrapper
                %table.full2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;", :width => "600"}
                  %tbody
                    %tr
                      %td{:align => "center", :bgcolor => "#ffffff", :style => "border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", :width => "600"}
                        .sortable_inner.ui-sortable
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:height => "30", :width => "100%"}
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:style => "text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 23px; color: rgb(63, 67, 69); line-height: 30px; font-weight: 100;", :valign => "middle", :width => "100%"}
                                          / [if !mso]><!
                                          %span{:style => "font-family: 'proxima_novathin', Helvetica; font-weight: normal;"}
                                            / <![endif]
                                            ¡Bienvenido a EDCdigital!
                                            / [if !mso]><!
                                          / <![endif]
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:height => "30", :width => "100%"}
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:style => "text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(63, 67, 69); line-height: 24px;", :valign => "middle", :width => "100%"}
                                          / [if !mso]><!
                                          %span{:style => "font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"}
                                            / <![endif]
                                            ¡Hola! Estamos muy contentos de invitarte a formar parte de nuestra plataforma de construcción y validación de ideas de negocio
                                            = succeed "." do
                                              %strong EDCdigital
                                            %br/
                                            = succeed "Para" do
                                              %br/
                                            / [if !mso]><!
                                          / <![endif]
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:height => "20", :width => "100%"}
                          / --------------- Button Center ---------------
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td
                                          %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                            %tbody
                                              %tr
                                                %td{:align => "center", :bgcolor => "#4edeb5", :height => "45", :style => "border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding-left: 30px; padding-right: 30px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background-color: rgb(159,17,91);"}
                                                  / [if !mso]><!
                                                  %span{:style => "font-family: 'proxima_nova_rgbold', Helvetica; font-weight: normal;"}
                                                    / <![endif]
                                                    %a{:href => accept_invitation_url(@resource, :invitation_token => @token), :style => "color: rgb(255, 255, 255); font-size: 15px; text-decoration: none; line-height: 34px; width: 100%;"} Activa tu cuenta aquí
                                                    / [if !mso]><!
                                                  / <![endif]
                          / --------------- End Button Center ---------------
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:height => "35", :width => "100%"}
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:style => "text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: rgb(63, 67, 69); line-height: 24px;", :valign => "middle", :width => "100%"}
                                          / [if !mso]><!
                                          %span{:style => "font-family: 'proxima_nova_rgregular', Helvetica; font-weight: normal;"}
                                            / <![endif]
                                            Si tienes alguna duda o comentario, no dudes en contactarnos en el correo electrónico
                                            = succeed "," do
                                              %strong hola@emprendiendodesdecero.com
                                            = succeed "." do
                                              %strong 01 (55) 53 50 11 36 / 01 (81) 23 17 10 95
                                            %br/
                                            %br/
                                            ¡Bienvenido!
                                            %br/
                                            Equipo Emprendiendo desde Cero
                                            / [if !mso]><!
                                          / <![endif]
                          %table.mobile2{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :style => "border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: rgb(255, 255, 255);", :width => "600"}
                            %tbody
                              %tr
                                %td{:align => "center", :style => "-webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;", :valign => "middle", :width => "600"}
                                  %table.fullCenter2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "540"}
                                    %tbody
                                      %tr
                                        %td{:height => "50", :width => "100%"}
                %table.full2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :width => "600"}
                  %tbody
                    %tr
                      %td{:height => "30", :width => "600"}
                %table.mobile2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :width => "600"}
                  %tbody
                    %tr
                      %td{:height => "30", :width => "600"}
                %table.mobile2{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :object => "drag-module-small", :width => "600"}
                  %tbody
                    %tr
                      %td{:height => "29", :width => "600"}
                    %tr
                      %td{:height => "1", :style => "font-size: 1px; line-height: 1px;", :width => "600"}  
