- content_for :title  do
	= title_text_helper("Editar plantilla")

.container-fluid.container-fixed-lg
	.row.panel.panel-default
		.p-t-50
			.col-md-4
				.panel-heading
					.panel-title
						Editar Plantilla de Certificado
				.panel-body
					%i.fa.fa-upload.fa-2x.hint-text
					.h3.m-t-20{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Usa este formulario para editar la plantilla de Certificado seleccionada
					%p.m-b-30{style: "font-family: 'Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;"}
						Cada plantilla representa un estilo diferente para generar certificados
			.col-md-8
				.panel-body
					= render 'form'