- content_for :title  do
  = title_text_helper("Progreso de invitaciones")

.panel.panel-default
  .panel-body
    .row
      .col-md-12
        %center
          .progress-section
            %h3
              Progreso
              %span.job-progress
                0%
            .progress
              .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progres    sbar", :style => "width:0%"}
        %h6
          Estudiantes nuevos
          %span.new_records
            0

        %table.table.table-striped.table-bordered
          %thead
            %tr
              %td
                Email
          %tbody.total-students-news

        %h6
          Estudiantes registrados previamente inactivos
          %span.old_records_inactive
            0

        %table.table.table-striped.table-bordered
          %thead
            %tr
              %td
                Email
          %tbody.total-students-olds-inactive

        %h6
          Estudiantes previamente registrados, se movieron de grupo
          %span.old_records_group
            0

        %table.table.table-striped.table-bordered
          %thead
            %tr
              %td
                Email
          %tbody.total-students-olds-group
    .panel-footer
      = form_tag(export_codes_group_invitations_path(format: :xlsx))
      .pull-right
        %input{type: "hidden", value: "", name: "emails", id: "emails"}
        %button.btn.btn-success{type: "submit"}
          %i.fa.fa-file-excel-o
          Exportar codigos
      .clearfix

            
:javascript
  function exportar(){

  }
  $(document).on('turbolinks:load', function(){
    var interval = setInterval(function(){
      $.get("/api/v1/async_jobs/#{@job_id}")
      .done(function(job){
        var progress = parseInt((job.progress * 100) / job.total);
        $('.job-progress').html(progress + '%');
        $('.progress-bar').css('width', progress + '%');
        $('.new_records').html(job.new_records);
        $('.old_records_group').html(job.old_records_group);
        $('.old_records_inactive').html(job.old_records_inactive);
        var emails = [];

        if(progress == 100) {
          clearInterval(interval);
          job.old_emails_inactive.forEach(function (email) {
            emails.push({"email": email});
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-olds-inactive').append(row);
          });

          job.new_emails.forEach(function (email) {
            emails.push({"email": email});
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-news').append(row);
          });


          job.old_emails_group.forEach(function (email) {
            emails.push({"email": email});
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-olds-group').append(row);
          });

          $("#emails").val(JSON.stringify(emails));
        }
      })
      .fail(clean)
    }, 1000);

    function clean(){
      clearInterval(interval);
    }
  });
