- content_for :title  do
  Progreso de invitaciones - EDC Digital

.panel.panel-default
  .panel-body
    .row
      %center
        .progress-section
          %h3
            Progreso
            %span.job-progress
              0%
          .progress
            .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progres    sbar", :style => "width:0%"}
      %h6
        Estudiantes nuevos
        %span.new_records
          0

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td
              Email
        %tbody.total-students-news

      %h6
        Estudiantes registrados previamente inactivos
        %span.old_records_inactive
          0

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td
              Email
        %tbody.total-students-olds-inactive

      %h6
        Estudiantes previamente registrados activos, se movieron de grupo
        %span.old_records_group
          0

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td
              Email
        %tbody.total-students-olds-group

:javascript
  $(document).on('turbolinks:load', function(){
    var interval = setInterval(function(){
      $.get("/api/v1/async_jobs/#{@job_id}")
      .done(function(job){
        var progress = parseInt((job.progress * 100) / job.total);
        $('.job-progress').html(progress + '%');
        $('.progress-bar').css('width', progress + '%');
        $('.new_records').html(job.new_records);
        $('.old_records_group').html(job.old_records_group);
        $('.old_records_inactive').html(job.old_records_inactive);

        if(progress == 100) {
          clearInterval(interval);
          job.old_emails_inactive.forEach(function (email) {
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-olds-inactive').append(row);
          });

          job.new_emails.forEach(function (email) {
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-news').append(row);
          });


          job.old_emails_group.forEach(function (email) {
            var row = "<tr>" +
              "<td>" + email + "</td>" +
            "</tr>";

            $('.total-students-olds-group').append(row);
          });
        }
      })
      .fail(clean)
    }, 1000);

    function clean(){
      clearInterval(interval);
    }
  });
