- content_for :title  do
  Universidad - EDC Digital

.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-body 
          %h2.text-center
            Universidad 
          %h4
            = @university.name
          %span.bold
            Estado: 
          #{@university.state.name}

      
