- content_for :title  do
  Universidad - EDC Digital

.container
  .row
    .col-md-12
      %h2.text-center
        Universidad 
      %h4
        = @university.name
      %span
        = @university.state.name

    
